<a href="https://colab.research.google.com/github/sera0911/python_basic/blob/main/Python_%EA%B8%B0%EC%B4%88_100%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello')

Hello

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('Hello')
print('World')

Hello
World

In [ ]:
print("'Hello'")

'Hello'

In [ ]:
print('"Hello World"')

"Hello World"

In [ ]:
print('\"!@#$%^&*()\'')

"!@#$%^&*()'

In [ ]:
print('print("Hello\\nWorld")')

print("Hello\nWorld")

In [ ]:
c = input()
print(c)

a
a

In [ ]:
n = input()
n = int(n)
print(n)

1
1

In [ ]:
f = input()
f = float(f)
print(f)

1.5
1.5

In [ ]:
a = input() 
b = input()
print(a)
print(b)

5
6
5
6

In [ ]:
a = input() 
b = input()
print(b)
print(a)

abc
bca
bca
abc

In [ ]:
a = float(input()) 
print(a)
print(a)
print(a)

1.5
1.5
1.5
1.5

In [ ]:
a, b = input().split()
print(a)
print(b)

3 5
3
5

In [ ]:
a, b = input().split()
print(b, a)

3 5
5 3

In [ ]:
s = input()
print(s, s, s)

세경
세경 세경 세경

In [ ]:
a, b = input().split(':')
print(a, b, sep=':')

12:34
12:34

In [ ]:
y, m, d = input().split('.')
print(d, m, y, sep='-')

21.03.24
24-03-21

In [ ]:
a, b = input().split('-')
print(a, b, sep = '')

000907-1121112
0009071121112

In [ ]:
s = input()
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

ab123
a
b
1
2
3

In [ ]:
s = input()
print(s[0:2])
print(s[2:4])
print(s[4:6])

yymmdd
yy
mm
dd

In [ ]:
a,b,c = input().split(':')
print(b)

17:23:57
23

In [ ]:
w1, w2 = input().split()
s = w1 + w2
print(s)

se se
sese

In [ ]:
a, b = input().split()
c = int(a) + int(b)
print(c)

2 4
6

In [ ]:
a= float(input())
b= float(input())
c = a + b
print(c)

0.9
0.1
1.0

In [ ]:
a = input()
n = int(a)         
print('%x'% n)  #십진법을 16진법으로 변환

255
ff

In [ ]:
a = input()
n = int(a)  
print('%X' % n)

255
FF

In [ ]:
a = input()
n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
print('%o' % n)  #n에 저장되어있는 값을 8진수(octal) 형태 문자열로 출력

f
17

In [ ]:
#n = ord(input())  #입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.
n = ord(input())
print(n)

a
97

In [ ]:
#정수 입력받아 유니코드 문자로 변환하기
c = int(input())
print(chr(c))  #c에 저장되어 있는 정수 값을 유니코드 문자(chracter)로 바꿔 출력한다.

5


In [ ]:
#정수 1개 입력받아 부호 바꾸기
n = int(input())
print(-n)

-1
1

In [ ]:
#문자 1개 입력받아 다음 문자 출력하기
n = ord(input())     #입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.
print(chr(n+1))  #저장되어 있는 값을 유니코드 문자(chracter)로 바꿔 출력한다.

a
b

In [ ]:
#정수 2개 입력받아 차 계산하기
a, b = input().split()
c = int(a) - int(b)
print(c)

5 3
2

In [ ]:
#실수 2개 입력받아 곱 계산하기
f1, f2 = input().split()
m = float(f1) * float(f2)
print(m)

5 3
15.0

In [ ]:
#단어 여러 번 출력하기
w, n = input().split()
print(w*int(n))

5 3
555

In [ ]:
# 문장 여러 번 출력하기
n = input()
s = input()
print(int(n)*s)

3
i love cs
i love csi love csi love cs

In [ ]:
#정수 2개 입력받아 거듭제곱 계산하기
a, b = input().split()
c = int(a)**int(b)    # **는 거듭제곱 연산자
print(c)

2 3
8

In [ ]:
#실수 2개 입력받아 거듭제곱 계산하기
a, b = input().split()
c = float(a)**float(b)    # **는 거듭제곱 연산자
print(c)

2 5
32.0

In [ ]:
#정수 2개 입력받아 나눈 몫 계산하기
a, b = map(int, input().split())    #map 은 함수b를 a에 적용한다는 뜻
print(a//b)    # //나눈 몫을 계산하는 연산자

25 3
8

In [ ]:
#정수 2개 입력받아 나눈 나머지 계산하기
a, b = map(int, input().split())    #map 은 함수b를 a에 적용한다는 뜻
print(a%b)    # % 나머지를 계산하는 연산자

6 4
2

In [ ]:
#실수 1개 입력받아 소숫점이하 자리 변환하기
f = float(input())
print(round(f, 2))    #round(수, 자릿수) 를 사용하면 원하는 자리까지의 정확도로 반올림 된 실수 값을 만들어 준다.

3.33333
3.33

In [ ]:
#실수 2개 입력받아 나눈 결과 계산하기
f1, f2 = map(float, input().split())
f = f1 / f2
print('%.3f'%f)   #반올림을 할 땐 print('%.2f'%n) n은 출력할 실수 변수

5 3
1.667

In [ ]:
#정수 2개 입력받아 자동 계산하기
a, b = map(int, input().split())
print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)
print(round(a/b, 2))

10 3
13
7
30
3
1
3.33

In [ ]:
#정수 3개 입력받아 합과 평균 출력하기
a, b, c = map(int, input().split())
d = a + b + c
e = (a + b + c)/3
print(d, ('%.2f'%e))  #반올림해 소수2번째 자리까지 출력= a + b + c
e = (a + b + c)/3
print(d, ('%.2f'%e))  #반올림해 소수2번째 자리까지 출력

1 2 3
6 2.00

In [ ]:
#정수 1개 입력받아 2배 곱해 출력하기
n =int(input())
print(n<<1)  #비트연산자 <<을 사용해서 n의 2배 값이 출력된다. >>이 연산자는 1/2로 줄어듬 이진법활용

2
4

In [ ]:
#2의 거듭제곱 배로 곱해 출력하기
a, b = map(int, input().split())
print(a << b)    # a << b를 하면 비트연산자 <<는 a를 b제곱한 것으로 연산된다

1 3
8

In [ ]:
#정수 2개 입력받아 비교하기1
a, b = map(int, input().split())
if a < b:
  print("True")
elif a >= b:
  print("False")

1 9
True

In [ ]:
#정수 2개 입력받아 비교하기2
a, b = map(int, input().split())
if a == b:
  print("True")
elif a != b :
  print("False")

0 0
True

In [ ]:
#정수 2개 입력받아 비교하기3
a, b = map(int, input().split())
if b >= a:
  print("True")
elif b != a:
  print("False")

0 -1
False

In [ ]:
#정수 2개 입력받아 비교하기4
a, b = map(int, input().split())
if a != b:
  print("True")
elif a == b:
  print("False")

0 1
True

In [ ]:
#정수 입력받아 참 거짓 평가하기
n = int(input())
print(bool(n))
#입력된 값이 0이면 False, 0이 아니면 True 를 출력한다.

0
False

In [ ]:
#참 거짓 바꾸기
a = bool(int(input()))
print(not a)
#참 또는 거짓의 논리값을 역(반대)으로 바꾸기 위해서 not 예약어(reserved word, keyword)를 사용

1
False

In [ ]:
#둘 다 참일 경우만 참 출력하기
a, b = input().split()
print(bool(int(a)) and bool(int(b)))
#and 예약어는 주어진 두 불 값이 모두 True 일 때에만 True 로 계산하고, 나머지 경우는 False 로 계산한다.

1 1
True

In [ ]:
#하나라도 참이면 참 출력하기
a, b = input().split()
print(bool(int(a)) or bool(int(b)))
#or 예약어는 주어진 두 불 값 중에서 하나라도 True 이면 True 로 계산하고, 나머지 경우는 False 로 계산한다.

1 1
True

In [ ]:
#참/거짓이 서로 다를 때에만 참 출력하기
a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print((c and (not d)) or ((not c) and d))
#참 거짓이 서로 다를 때에만 True 로 계산하는 논리연산을 XOR(exclusive or, 배타적 논리합) 연산이라고도 부른다.

1 1
False

In [ ]:
#참/거짓이 서로 같을 때에만 참 출력하기
a, b = input().split()
if a == b:
  print(True)
elif a !=b:
  print(False)

1 0
False

In [ ]:
#둘 다 거짓일 경우만 참 출력하기
a, b = input().split()
c = bool(int(a))
d = bool(int(b))
if c == False and d == False:
  print(True)
else:
  print(False)

0 0
True

In [ ]:
#비트단위로 NOT 하여 출력하기
b = int(input())
print(~b)
#~ : tilde, 틸드라고 읽는다  ~n = -n - 1, -n = ~n + 1

2
-3

In [ ]:
#비트단위로 AND 하여 출력하기
a, b = map(int, input().split())
print(a&b)
#& = and, ampersand, 앰퍼센드라고 읽는다

3 5
1

In [ ]:
#비트단위로 OR 하여 출력하기
a, b = map(int, input().split())
print(a|b)
#| = (or, vertical bar, 버티컬바)를 사용하면 된다.

3 5
7

In [ ]:
#비트단위로 XOR 하여 출력하기(
a, b = map(int, input().split())
print(a^b)
# ^ = (xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다.

3 5
6

In [ ]:
#정수 2개 입력받아 큰 값 출력하기
a, b = map(int, input().split())
c = (a if (a>=b) else b)
print(int(c))
#3개의 요소로 이루어지는 3항 연산은 "x if C else y" 의 형태로 작성이 된다.
"""
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값
"""

123 456
456

In [ ]:
#정수 3개 입력받아 가장 작은 값 출력하기
a, b, c = map(int, input().split())
d = (a if a<b else b) if ((a if a<b else b)<c) else c
print(int(d))
#변수에 어떤 값을 대입하는 대입(assign) 연산자 = 의 우선순위는 가장 낮고, 오른쪽에서 왼쪽의 결합방향을 가진다.

3 -1 5
-1

In [ ]:
#정수 3개 입력받아 짝수만 출력하기

a, b, c = map(int, input().split())
if a%2==0 :  #논리적으로 한 단위로 처리해야하는 경우 콜론(:)을 찍고, 들여쓰기로 작성 한다.
  print(a)

if b%2==0 :
  print(b) 

if c%2==0 :
  print(c) 


"""
a%2==0 은 (a%2)가 먼저 계산된 후 그 결과를 정수 0과 비교한 결과값이다.
a를 2로 나눈 나머지가 0, 즉 짝수이면 True 가 되고, 아니면 False 로 계산된다.
따라서,
if a%2==0 : #a가 짝수라면 ... 
와 같은 의미가 된다. 짝수가 아니라면 들여쓰기로 작성된 부분들은 실행되지 않는다.
"""

1 2 4
2
4

'\na%2==0 은 (a%2)가 먼저 계산된 후 그 결과를 정수 0과 비교한 결과값이다.\na를 2로 나눈 나머지가 0, 즉 짝수이면 True 가 되고, 아니면 False 로 계산된다.\n따라서,\nif a%2==0 : #a가 짝수라면 ... \n와 같은 의미가 된다. 짝수가 아니라면 들여쓰기로 작성된 부분들은 실행되지 않는다.\n'

In [ ]:
#정수 3개 입력받아 짝/홀 출력하기
a, b, c = map(int, input().split())
if a%2==0 :
  print("even")
else :
  print("odd") 

if b%2==0:
  print("even")
else :
  print("odd") 

if c%2==0 :
  print("even")
else :
  print("odd")

1 2 8
odd
even
even

In [ ]:
#정수 1개 입력받아 분류하기
n = int(input())
if n<0 :
  if n%2==0 :
    print('A')      #주의 : 변수 A와 문자열 'A' / "A" 는 의미가 완전히 다르다. 
  else :
    print('B')
else :
  if n%2==0 :
    print('C')
  else :
    print('D')

#조건/선택 실행구조 안에 다시 조건/선택 실행구조를 "중첩"할 수가 있다.
#또한, 중첩된 조건은  논리연산자를 이용해 합쳐 표현할 수도 있다.

-4
A

In [ ]:
#점수 입력받아 평가 출력하기
score = int(input())
if score>=90 :
  print('A')
else :
  if score>=70 :
    print('B')
  else :
    if score>=40 :
      print('C')
    else :
      print('D')

73
B

In [ ]:
#평가 입력받아 다르게 출력하기
mun = input()
if mun =="A":
  print("best!!!")
elif mun=="B":
  print("good!!")
elif mun == "C":
  print("run!")
elif mun=="D":
  print("slowly~")
else:
  print("what?")

A
best!!!

In [ ]:
#월 입력받아 계절 출력하기
n = int(input())
if n//3==1 :
  print("spring")
elif n//3==2:
  print("summer")
elif n//3==3:
  print("fall")
else:
  print("winter")


    #//는 몫을 의미

4
spring

In [ ]:
#0 입력될 때까지 무한 출력하기
n = 1      #처음 조건 검사를 통과하기 위해 0 아닌 값을 임의로 저장
while n!=0 :
  n = int(input())
  if n!=0 :
    print(n)

5
5
7
7
3
3
0

In [ ]:
#정수 1개 입력받아 카운트다운 출력하기1
n = int(input())
while n!=0 :
  print(n)
  n = n-1

3
3
2
1

In [ ]:
#정수 1개 입력받아 카운트다운 출력하기2
n=int(input())
while n!=0:
    n-=1
    print(n)

5
4
3
2
1
0

In [ ]:
#문자 1개 입력받아 알파벳 출력하기

c = ord(input())
t = ord('a')
while t<=c :
  print(chr(t), end=' ')
  t += 1

#알파벳 문자 a의 정수값은 ord('a')로 알아낼 수 있다.
#chr(정수값)을 이용하면 유니코드 문자로 출력할 수 있다.

c
a b c

In [ ]:
#정수 1개 입력받아 그 수까지 출력하기1
n = int(input())
a=n
while n>=0:
    print(a-n)
    n-=1

4
0
1
2
3
4

In [ ]:
#정수 1개 입력받아 그 수까지 출력하기2
n = int(input())
for i in range(n+1) :
  print(i)

3
0
1
2
3

In [ ]:
#짝수 합 구하기
n = int(input())
s = 0
for i in range(1, n+1) :
  if i%2==0 :
    s += i

print(s)

5
6

In [ ]:
#원하는 문자가 입력될 때까지 반복 출력하기
 
while True!=0 :
  n = input()
  print(n)
  if n=='q' :
    break

r
d
c
q

In [ ]:
#언제까지 더해야 할까?

sum=0
i=0
n = int(input())
while True:
    i+=1
    sum+=i
    if(sum>=n):
        print(i)
        break

55
10

In [ ]:
#주사위 2개 던지기
n,m = map(int,input().split())
for i in range(1, n+1) :
  for j in range(1, m+1) :
    print(i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [ ]:
#16진수 구구단 출력하기
n = int(input(), 16)  #16진수 값을 10진수로 변환16진수 구구단 출력하기
n = int(input(), 16)  #16진수 값을 10진수로 변환
for i in range(1, 16):
 print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')


 #16진수(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F)
 #print('%X'%n)    #n에 저장되어있는 값을 16진수(hexadecimal) 형태로 출력
for i in range(1, 16):
 print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')


#16진수(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F)
#print('%X'%n)    #n에 저장되어있는 값을 16진수(hexadecimal) 형태로 출력

a
A*1=A
A*2=14
A*3=1E
A*4=28
A*5=32
A*6=3C
A*7=46
A*8=50
A*9=5A
A*A=64
A*B=6E
A*C=78
A*D=82
A*E=8C
A*F=96

In [ ]:
#3 6 9 게임의 왕이 되자
n = int(input())
for i in range(1, n+1) :
  if i%10==3 :
    print("X", end=' ')    #출력 후 공백문자(빈칸, ' ')로 끝냄
  elif i%10==6 :
    print("X", end=' ') 
  elif i%10==9 :
    print("X", end=' ') 
  else:
    print(i, end=' ')

#나머지가 3, 6, 9로 끝나면 박수

15
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15

In [ ]:
#빛 섞어 색 만들기
r, g, b =  map(int, input().split())
count = 0
for i in range(r):
  for j in range(g):
    for k in range(0, b):
      print('%d %d %d' %(i, j, k))
      count+=1


print(count)

#색 별로 for문을 돌고, 십진수로 표현

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [ ]:
#소리 파일 저장용량 계산하기
h,b,c,s = map(int,input().split())
m = (h* b * c * s)/8/1024/1024    
print('%.1f MB' %m)  #1f는 소숫점2번째에서 반올림

44100 16  2 10
1.7 MB

In [ ]:
#그림 파일 저장용량 계산하기
r, g, b =  map(int, input().split())
m = (r*g*b)/8/1024/1024
print('%.2f MB' %m)  #2f는 셋째자리에서 반올림

1024 768 24
2.25 MB

In [ ]:
#거기까지! 이제 그만~
n = int(input())
c = 1   #1부터 더해져야 하니까 기본값
s = 0   #누적 합
while True :
  s += c
  c += 1
  if s>=n :   #입력한 수보다 누적 s가 크거나 같으면 멈춤
    break

print(s)

57
66

In [ ]:
#3의 배수는 통과
n = int(input())
for i in range(1, n+1) :
  if i%3==0:   #나머지가 0 일 때 continue 넘어감
    continue            #다음 반복 단계로 넘어간다.
  print(i, end=' ')    #i가 짝수가 아닐 때만 실행된다.

56
1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50 52 53 55 56

In [8]:
#수 나열하기1
a, d, n =  map(int, input().split())
total = a
for i in range(0, n-1):
  total = total + d
print(total)

1 3 5
13

In [9]:
#수 나열하기2
a, r, n =  map(int, input().split())
total = a
for i in range(0, n-1):
  total = total * r
print(total)

2 3 7
1458

In [10]:
#수 나열하기3
a, m, d, n =  map(int, input().split())
total = a
for i in range(0, n-1):
  total = total * m +d
print(total)

1 -2 1 8
-85

In [11]:
#함께 문제 푸는 날
a, b, c =  map(int, input().split())
d = 1
while d%a!=0 or d%b!=0 or d%c!=0 :
  d += 1
print(d)

3 7 9
63

In [15]:
#이상한 출석 번호 부르기1
n = int(input())      #개수를 입력받아 n에 정수로 저장
a = input().split()  #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n) :  #0부터 n-1까지...
  a[i] = int(a[i])       #a에 순서대로 저장되어있는 각 값을 정수로 변환해 다시 저장

d = []                     #d라는 이름의 빈 리스트 [ ] 변수를 만듦. 대괄호 기호 [  ] 를 사용한다.
for i in range(24) :  #[0, 0, 0, ... , 0, 0, 0] 과 같이 24개의 정수 값 0을 추가해 넣음
  d.append(0)        #각 값은 d[0], d[1], d[2], ... , d[22], d[23] 으로 값을 읽고 저장할 수 있음.

for i in range(n) :    #번호를 부를 때마다, 그 번호에 대한 카운트 1씩 증가
  d[a[i]] += 1

for i in range(1, 24) :  #카운트한 값을 공백을 두고 출력
  print(d[i], end=' ')




#- d = []              #어떤 데이터 목록(list) 을 순서대로 저장하기 위해 아무것도 없는 리스트 변수 만들기
#- d.append(값)  #d 리스트의 마지막에 원하는 값을 추가(append)해 넣음 
#- d[a[i]] += 1     #2중 리스트 참조 : 만약 a[i]의 값이 1이었다면? d[1] += 1 이 실행되는 것이다. 1번 카운트 1개 증가..

10
1 2 4 19 20 17 3 5 4 3
1 1 2 2 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0

In [17]:
#이상한 출석 번호 부르기2
n = int(input()) 
a = input().split()
for i in range(n-1, -1, -1) :
  print(a[i], end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [19]:
#이상한 출석 번호 부르기3
n = int(input()) 
print(min(map(int,input().split())))

10
10 4 2 3 6 6 7 9 8 5
2

In [22]:
#이상한 출석 번호 부르기3
n = int(input())
a = list(map(int, input().split()))
ans = a[0]

for i in range(n):
    if a[i] < ans:
      ans = a[i]

print(ans)

10
10 4 2 3 6 6 7 9 8 5
2

In [23]:
#바둑판에 흰 돌 놓기
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
for i in range(20) :
  d.append([])         #리스트 안에 다른 리스트 추가해 넣기
  for j in range(20) : 
    d[i].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

n = int(input())
for i in range(n) :
  x, y = input().split()
  d[int(x)][int(y)] = 1

for i in range(1, 20) :
  for j in range(1, 20) : 
    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
  print()                          #줄 바꿈

#d = [[0 for j in range(20)] for i in range(20)] 이렇게도 가능

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
#바둑알 십자 뒤집기


a = [] 
for i in range(20) :
  a.append([])         #리스트 안에 다른 리스트 추가해 넣기
  for j in range(20) : 
    a[i].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

for i in range(19):
  b = input().split()
  for j in range(19):
    a[i+1][j+1] = int(b[j])

n = int(input())
for i in range(n):
    x,y = map(int,input().split())
    for j in range(1,20):
        if a[j][y] == 0: a[j][y] = 1
        else: a[j][y] = 0
        
        if a[x][j] == 0: a[x][j] = 1
        else: a[x][j] = 0

for i in range(1,20):
    for j in range(1,20):
        print(a[i][j],end = ' ')
    print()