<a href="https://colab.research.google.com/github/sera0911/python_basic/blob/main/%EC%97%B4%ED%98%88_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%ED%8E%B801~08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
33+55

88

In [ ]:
7 * 5 /2

17.5

In [ ]:
9 * (5 - 7) / 3

-6.0

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
num = 0
Num = 10
print(num, Num) #변수 num, Num을 나란히 출력

0 10

In [ ]:
return = 2

SyntaxError: ignored

-def, return 등 용도가 정해진 단어를 키워드라고 하는데 이러한 키워드로 변수나 함수의 이름을 짓는 것도 불가능하다
- 변수와 함수의 이름은 소문자로 시작한다
-둘 이상의 단어를 연결하는 경우 언더바 _ 를 이용해서 연결한다 (두 단어를 그냥 연결하는 것도 피하기)

In [ ]:
def adder(num1, num2):
  return num1 + num2

def main():
  print(adder(5,3))

main()

8

프로그램의 실행 흐름을 담은 main이라는 이름의 함수를 별도로 정의하고 있다    
왜? 훨씬 정돈되고 관리하기 편해서

In [ ]:
def add(num1, num2):
  return num1+num2
def min(num1,num2):
  return num1 - num2
def mul(num1, num2):
  return num1*num2
def div(num1, num2):
  return num1 /num2

def main():
  print(add(5, 3))
  print(min(5, 3))
  print(mul(5, 3))
  print(div(5, 3))

main()

8
2
15
1.6666666666666667

In [ ]:
str = input("How old are you:")  #input 함수의 호출
print(str)

How old are you:12 years old
12 years old

input 함수가 호출되면 사용자가 무엇을 입력할 때까지 기다리게 됨 이상태에선 답을 입력 후 엔터를 눌러야 함. 그러면 입력내용을 input 함수가 반환함    
주의점은 입력 내용이 하나의 문자열로 묶여서 반환된다는 점 그래서 input으로 반환된 내용이 산술계산이 안된다

In [ ]:
# 연습문제 03-1
str= input()
abc= input()
str + abc

12
34

'1234'

In [ ]:
#3-2 입력받은 내용을 숫자로 바꾸러면
year = input('This year:')
year = eval(year)  #year에 저장내용을 산순 연산이 가능한 '수'로 바꿈
year = year+1
print('Next year:', year)

This year:2020
Next year: 2021

input을 이용한 값은 문자열이니까  eval 함수를 이용해 숫자로 바꾸어주는 것

In [ ]:
rad = eval(input('radius:'))
area = rad * rad * 3.14  #원의 넓이 계산 공식 적용 문장
print(area)

radius:2.5
19.625

In [ ]:
#연습문제 03-2
a = eval(input())
b = eval(input())
a+b

1.24
3.12

4.36

In [ ]:
#연습문제 03-2
a = eval(input('첫 번째 입력:'))
b = eval(input('두 번째 입력:'))
print('두 입력의 합:', a+b)

첫 번째 입력:1.24
두 번째 입력:3.12
두 입력의 합: 4.36

In [ ]:
#3-3 강력한 그러나 위험할 수 있는 eval 함수
result = eval(input('뭐든 넣어요:'))
print(result)

뭐든 넣어요:2-4*5+3
-15

eval 함수를 통해 input으로 2-4*5+3 이란 문자열을 넣었더니 숫자 변환뿐 아니라 수식까지 다 계산하고 결과만 반영함

*누군가 이 eval함수를 호출한 문장을 이용하면 시키지도 않은 일이 실행되어 보안이 취약해지기 때문에 eval 는 사용하지 않는 편이 좋다

In [ ]:
def ret():    #ret 이라는 이름의 함수 정의. 단순히 12를 반환하는 함수
  return 12

result = eval(input('뭐든 넣어요:'))
print(result)

뭐든 넣어요:ret()
12

사용자가 ret함수 호출을 명령하지 않았음에도 불구하고 ret 함수가 호출됨.  > eval가 혼자 분석해서 ret 함수를 보출한 것

In [ ]:
#3-4 정해진 횟수만큼 반복해서 실행시키기
for i in [0, 1, 2]:
  print(i)
  print('hi~')

0
hi~
1
hi~
2
hi~

여기서 i 는 변수 []리스트 안의 내용은 반복 횟수 정보 print는 for 루프에 속하는 문장들

In [ ]:
for i  in[1, 3, 5]:
  print(i)
  print('Hello~')

1
Hello~
3
Hello~
5
Hello~

In [ ]:
sum = 0
for i in[1,2,3,4,5,6,7,8,9,10]:
  sum = sum+i  #sum의 값을 i 만큼 증가시키는 문장

print(sum)

55

In [ ]:
#연습문제 03-3 1번
sum = 0
for i in[1,3,5,7,9]:
  sum =sum + i
print(sum)

25

In [ ]:
#연습문제 03-3 2번
x = 1
for i in[1,2,3,4,5,6,7,8,9,10]:
  x = x * i
print(x)

3628800

In [ ]:
#연습문제 03-3 3번
for i in[1,2,3,4,5,6,7,8,9]:
  print(i*7)

7
14
21
28
35
42
49
56
63

In [ ]:
#연습문제 03-3 3번답안지
for i in[1,2,3,4,5,6,7,8,9,]:
  print('7x',i,'=',7*i)

7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63

In [ ]:
#연습문제 03-3 4번
for i in[9,8,7,6,5,4,3,2,1]:
  print(i*7)

63
56
49
42
35
28
21
14
7

In [ ]:
#연습문제 03-3 4번 답안지
for i in[9,8,7,6,5,4,3,2,1]:
  print('7x', i, '=',7*i)

7x 9 = 63
7x 8 = 56
7x 7 = 49
7x 6 = 42
7x 5 = 35
7x 4 = 28
7x 3 = 21
7x 2 = 14
7x 1 = 7

In [ ]:
#3-5 for..in..과 range의 조합
sum = 0
for i in range(1,11):
  sum = sum+ i
print(sum)

55

range => 변수 i에 1부터 11이전의 값을 넣어서 반복하라는 뜻

In [ ]:
sum = 0
for i in range(1,101):
  sum = sum +i
print(sum)

5050

In [ ]:
for i in range(0,3):
  print('Happy')

Happy
Happy
Happy

range를 쓸 때 0부터 시작하는 게 좋음 > 0부터 시작해야 끝나는 횟수 확인이 가능
그리고 0 생략가능 
range(0,3) = range(3) 과 같음

In [ ]:
for i in range(3):
  print('Happy')

Happy
Happy
Happy

In [ ]:
cnt = 2
for i in range(cnt):  #cnt만큼 반복
  print('I love coffee')

I love coffee
I love coffee

range에 변수를 넣는것도 가능

In [ ]:
#연습문제 03-4 1번문제
for i in range(0,5):
  print('안녕하세요.')

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [ ]:
#연습문제 03-4 2번문제
i = 1
for i in range(1,10):
  print(i*7)

7
14
21
28
35
42
49
56
63

In [ ]:
#연습문제 03-4 3번문제
def exp(x,y):
  rlt = 1
  for i in range(y):
    rlt = rlt*x
  return rlt

exp(4, 2)

16

In [ ]:
#연습문제 03-4 4번문제
def greet():
  num = eval(input("인사를 몇 번 할까요?"))
  for i in range(num):
    print("반갑습니다")

greet()

인사를 몇 번 할까요?4
반갑습니다
반갑습니다
반갑습니다
반갑습니다

In [ ]:
#4-1 정수의 표현과 실수의 표현
data1 = 2          #정수 2를 변수 data1에 저장
data2 = 2.4        #실수 2.4를 변수 data2에 저장

In [ ]:
num = 2
print(num)

2

In [ ]:
num = 1.000000000000001
print(num)

1.000000000000001

In [ ]:
num1 = 1.0000000000000001
num2 = 1.1
print(num1 + num2)

2.1

파이썬이 정수를 표현&저장하는 방법과 실수를 표현&저장하는 방법은 다르다    
파이썬은 정수를 아주 정확히 표현하고 저장가능하다    
파이썬은 실수를 오차 없이 표현하고 저장하지 못한다. 실수에는 약간의 오차가 있다(다른 코딩도 동일, 실수의 특성때문 1.1과 1.2 사이에는 무수한 실수가 있기 때문에)

In [ ]:
#4-2 int형과 float형을 대상으로 하는 기본적인 산술 연산 
type(3)
<class 'int'>
>>> type(3.1)
<class 'float'>
>>> type(3.0)
<class 'float'>

+ 덧셈 - 뺄셈 * 곱셈 ** 거듭제곱 / 실수형 나눗셈 // 정수형 나눗셈 % 나머지가 얼마인가   
// = 나눗셈의 몫을 계산 
% = 나눗셈의 나머지 계산

In [ ]:
3**2  #9
5/2   #2.5
5//2  #2 나눗셈의 몫을 계산
5%2   #1 나눗셈의 나머지 계산

9

In [ ]:
#4-3 int형으로 변환, float형으로 변환
num = 10
num = float(num)  #num의 값을 float형으로 
type(num)

float

In [ ]:
num = float("3.14")
type(num)

float

문자열도 float형으로 변경가능

In [ ]:
height = eval(input("키 정보 입력:"))
print(height)

키 정보 입력:178.7
178.7

In [ ]:
height = float(input("키 정보 입력:"))
print(height)

키 정보 입력:165.3
165.3

eval 함수 대신 float 함수로 변경 가능함

In [ ]:
num = int(3.14)
print(num)

3

int형인 정수로 변환하라 해서 3으로 변환됨

In [ ]:
height = eval(input("키 정보 cm 단위로 입력:"))
print(height)

키 정보 cm 단위로 입력:178
178

In [ ]:
height = int(input("키 정보 cm 단위로 입력:"))
print(height)

키 정보 cm 단위로 입력:178
178

eval 함수 대신 int 함수로 변경 가능

eval 함수는 int 나 float의 구분없이 각 타입의 맞춰 반환하지만 위험도가 높아 제한적으로 사용해야한다

In [ ]:
#4-4 복합 대입 연산자
num = 10
num = num + 1
print(num)

11

In [ ]:
num = 10
num += 1   #num = num + 1 같은 표현
print(num)

11

num = num + 1   vs   num +=1   
num = num - 1   vs   num -=1   
num = num * 3   vs   num *=3 다 동일

In [ ]:
#4-5 소괄호
3+4/2      #5.0
(3+4)/2    #3.5

3.5

소괄호를 먼저 연산

In [ ]:
#연습문제 04-1 원래 답
def int_div(a,b):
  print("몫:", a//b)
  print("나머지:", a%b)
(int_div(5,2))

몫: 2
나머지: 1

In [ ]:
#연습문제 04-1 세경이가 쓴 답
def int_div(a,b):
  return "몫:", a//b,"나머지:", a%b
int_div(5,2)

('몫:', 2, '나머지:', 1)

In [ ]:
#연습문제 04-1 문제2
def bet_sum(a,b):
  sum = 0
  for i in range(a+1, b):
    sum += i
  print(sum)

bet_sum(2,5)

7

In [ ]:
#연습문제 04-1 문제2
def bet_sum(a,b):
  sum = 0
  for i in range(a+1, b):
    sum += i
  print(sum)

bet_sum(1,5)

9

In [ ]:
#5-1 함수의 복습과 확장
for i in [1, 2, 3]:
  print(i)

1
2
3

In [ ]:
for i in [1, 2, 3]:
  print(i, end= '_')

1_2_3_

end = '_' 의 의미는 출력을 마치고 나면 줄 바꾸는 것 대신 '_'을 출력해주세요 라는 뜻

In [ ]:
for i in [1, 2, 3]:
  print(i, end= ' ')         #줄바꿈 대신 빈 공간을 넣어라

1 2 3

In [ ]:
#5-2 리스트형 데이터
for i in [1, 2, 3]:
	pass

>>> [1, 2, 3]
[1, 2, 3]

pass를 입력하면 아무 일도 하지 않는 for루프가 만들어진다

In [ ]:
[1, "hello", 3.3]
[1, 2, 3, [4, 5], ['aaa','zzz']]
st = [1, "hello", 3.3]
print(st)

[1, 'hello', 3.3]

[1, "hello", 3.3] 리스트 안에 서로 다른 종류의 값을 묶을 수 있다   
[1, 2, 3, [4, 5],['aaa'] 리스트 안에 리스트를 넣을 수도 있다   
st = [1, 2, 3] 리스트를 변수에 담는 것도 가능하다

지금까지 배운 데이터의 종류는 int형 데이터, float 형 데이터, 리스트형 데이터의 3종류가 있다. (문자열도 있음)

In [ ]:
#5-3 리스트형 데이터의 연산: 인덱싱 연산
[1, 2, 3] + [4, 5]  #두 리스트를 합한 결과를 반환 [1, 2, 3, 4, 5]
[1, 2, 3]*2  #리스트의 내용을 두 배 늘린 결과를 반환 [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
st = [1, 2, 3, 4, 5]
n1 = st[0]   #첫 번째 값을 꺼내서 n1에 저장
n2 = st[4]   #다섯 번째 값을 꺼내서 n2에 저장 
print(n1, n2)

1 5

[]  인덱싱연산   [ : ] 슬라이싱 연산
[1, 2, 3, 4, 5]   
 0  1  2  3  4  로 0부터시작됨   
 인덱싱은 값을 꺼내는 것(사라지는 것은 아님)   리스트에 담겨 있는 값들 중 하나를 참조하는 연산

In [ ]:
st = [1, 2, 3, 4, 5]
st[0] = 5    #5를 st[0]에 저장
st[4] = 1    #1을 st[4]에 저장
st

[5, 2, 3, 4, 1]

인덱싱연산은 값을 수정할 수도 있다   
st[0]이 =의 오른편의 오면 '값의 꺼냄' 이고   
st[0]이 =의 왼퍈에 오면 '값의 수정'을 의미한다

In [ ]:
st = [1, 2, 3, 4, 5]
print(st[0], st[2], st[4])  #st[0], st[2], st[4]의 값을 print함수의 전달

1 3 5

In [ ]:
st = [1,2 ,3, 4,5]
print(st[-1], st[-2], st[-3])  #인덱스 값으로 음수가 사용됨

5 4 3

[1, 2, 3, 4, 5]
 0 -4 -3 -2 -1  음수는 맨 뒤에부터 -1이 됨 첫번째는 무조건 0이 됨

In [ ]:
#연습문제 05-1 1번문제
st = [1, 2, 3, 4]
st[0]
st[1]
st[2]
st[3]

4

In [ ]:
#연습문제 05-1 2번문제
st = [1, 2, 3, 4]
st[-1]
st[-2]
st[-3]
st[-4]

1

In [ ]:
#연습문제 05-1 3번문제
st = [1, 2, 3, 4]
st[0] = st[0]+1   #st[0] += 1 로 해도 됨
st[1] = st[1]+1
st[2] = st[2]+1
st[3] = st[3]+1
st

[2, 3, 4, 5]

In [ ]:
#연습문제 05-1 4번문제
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(10):
  st[i] += 1
st

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#연습문제 05-1 5번문제
st = [1, 2, 3 ,4 ,5, 6]
#st[5] = 1
#st[0] = 6
st[5], st[0] = st[0], st[5]
st

[6, 2, 3, 4, 5, 1]

In [ ]:
#5-4 리스트형 데이터의 연산: 슬라이싱 연산
st1 = [1, 2, 3,4, 5, 6, 7, 8, 9]
st2 = st1[2:5]  #st1[2:5]를 꺼내 st2에저장 2부터 5앞까지(5는 포함되지않음)
st2

[3, 4, 5]

st2 = st1[2:5]  는 st1[2]~ st1[4] 까지 꺼내서 st2에 저장하라는 뜻   
인덱싱과 마찬가지로 슬라이싱도 값을 꺼냄과 값의 수정이 있음

In [ ]:
st = [1, 2, 3,4, 5, 6, 7, 8, 9]
st[2:5] = [0, 0, 0, 0, 0]  #st[2:5] 의 위치에 [0,0,0,0,0,]넣기
st

[1, 2, 0, 0, 0, 0, 0, 6, 7, 8, 9]

슬라이싱연산은 부분교체로 볼 수 있다   
부분교체 할 때 값의 개수가 같을 필요는 없다 더 많아도 되고 더 적어도 된다

In [ ]:
st = [1, 2, 3,4, 5, 6, 7, 8, 9]
st[2:5] = [0, 0]
st

[1, 2, 0, 0, 6, 7, 8, 9]

st 2, 3, 4번째는 무조건 빠지고 새 값이 들어가는 것

In [ ]:
#5-5 슬라이싱 연산에서 생략 가능한 부분
st = [1, 2, 3, 4, 5]
st[0:3] = [0, 0, 0]
st

[0, 0, 0, 4, 5]

In [ ]:
st = [1, 2, 3, 4, 5]
st[:3] = [0, 0, 0]
st

[0, 0, 0, 4, 5]

리스트의 첫 번째 위치의 값을 의미하는 0은 생략가능

In [ ]:
st = [1, 2, 3, 4, 5]
st[2:] = [0, 0, 0]
st

[1, 2, 0, 0, 0]

인덱스 값 2의 위치부터 마지막까지 교체  
    교체 숫자도 생략가능

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = [0,0,0, 0, 0]
st

[0, 0, 0, 0, 0]

리스트 전체를 교체하는 경우 앞뒤숫자 모두 생략가능

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = [0]
st

[0]

리스트 전체를 0 하나로 교체 할 시 교체할 값의 수는 일치하지 않아도 됨

In [ ]:
st = []   #빈리스트 생성
st

[]

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = []   #리스트의 전체 내용 삭제
st

[]

리스트 내용을 빈 리스트로 대체했기에 리스트 내용삭제가 됨

In [ ]:
#5-6 리스트에서 두 칸씩 뛰면서 저장된 값들 꺼내기
st1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
st2 = st1[0:9:2]   #st1[0]~st1[8]까지 2칸씩 뛰면서
st2

[1, 3, 5, 7, 9]

끝에 :2를 넣어주면 2칸씩 뛰면서 값을 꺼내준다

In [ ]:
st1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
st2 = st1[0:9:3]   #st1[0]~st1[8]까지 3칸씩 뛰면서
st2

[1, 4, 7]

In [ ]:
#연습문제 05-2 1번문제
st = [1, 2, 3, 4, 5]
st[1:4] = [3]
st

[1, 3, 5]

In [ ]:
#연습문제 05-2 2번문제
st = [1, 2, 3, 4, 5]
st[2:3] = [3, 3.5]
st

[1, 2, 3, 3.5, 4, 5]

In [ ]:
#연습문제 05-2 3번문제
st = [1, 2, 3, 4, 5]
st[1:4] = []
st

[1, 5]

In [ ]:
#연습문제 05-2 4번문제
st = [1, 2, 3, 4, 5]
st[:] = []
st

[]

In [ ]:
#연습문제 05-2 5번문제
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nt = st[0:9:2]   #st[::2]이렇게 표현해도 됨
nt

[1, 3, 5, 7, 9]

In [ ]:
#연습문제 05-2 6번문제
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nt = st[1:10:2]  #st[1::2]이렇게 표현가능
nt

[2, 4, 6, 8, 10]

In [ ]:
#5-7 스트링형 데이터 : 문자열
type("what1")
type('what2')
"123"

'123'

큰따옴표든 작은따옴표든관계없이 묶일 수 있다
숫자도 따옴표러 묶으면 문자열로 인식된다   
str은 string의 약자로서 문자열을 뜻한다 문자열이란 하나 이상의 값을 묶어서 만들어지는 데이터이다 (리스트와 유사) 그래서 리스트 연산을 문자열 대상으로도 가능함

In [ ]:
[1, 2] + [3, 4]   #[1, 2, 3, 4]  두 리스트를 합한 결과
"Hello" +"Everybody"  #HelloEverybody 두 문자열을 합한 결과

'HelloEverybody'

In [ ]:
[1, 2] * 3  #[1, 2, 1, 2, 1, 2] 리스트를 세 배 늘린 결과
"AZ" * 3  #'AZAZAZ' 문자열을 세 배 늘린 결과

'AZAZAZ'

In [ ]:
st = [1, 2, 3, 4, 5]
st[2]  #3  세 번째 위치 값만 뽑아냄
str = "SIMPLE"
str[2] #M  세 번째 위치 값만(문자만) 뽑아냄

'M'

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7]
st[2:5]   #[3, 4, 5]인덱스 값이 2~4인 위치의 값을 뽑아냄
str = "SIMPLEST"  
str[2:5]  #'MPL' 인덱스 값이 2~4인 위치의 값을 뽑아냄

'MPL'

리스트와 마찬가지로 문자열을 가지고도 인덱싱연산과 슬라이싱 연산을 할 수 있다 하는 방법도 동일

In [ ]:
str = "Happy"
str[0] ="D"

TypeError: ignored

문자열이 리스트와 다른 점은 그 내용을 바꾸진 못한다. 중요!

In [ ]:
#연습문제 05-3
str = "Hello"
#str = str + "Python"
str += "Python"
str

'HelloPython'

In [ ]:
#5-8 리스트와 for루프 그리고 문자열과 for루프
for i in [1, 2, 3]:
  print(i, end = ' ')  #줄바꿈대신 공백

1 2 3

In [ ]:
for i in 'Happy':
  print(i, end = ' ')

H a p p y

리스트가 아닌 문자열을 이용해서 for 루프 사용가능

In [ ]:
#5-9 리스트와 문자열을 인자로 전달받는 함수 len(s) 는 리스트 s의 길이(저장된 값의 수) 반환의 뜻
st = [1, 2, 3]
len(st)  #3 st에 몇 개의 값이 저장되어 있는가
sr = 'HaHaHa~'
len(sr) #문자열로도 가능하다

7

In [ ]:
st = [1, 2, 3]
n = len(st)
n

3

len함수가 반환하는 값을 따로 변수에 저장하지 않아서 그 값이 그대로 출력되는데, 이와같이 변환하는 값을 저장할 수도 있다

In [ ]:
#5-10 리스트와 문자열을 인자로 전달하고 반환하기
def so_simple1(num):   #매개변수 num을 통해 값을 받음
  return num + 1       #num +1의 결과 반환
n = so_simple1(7)
n

8

int형의 값을 전달받거나 반환

In [ ]:
def so_simple2(st):
  print(st)     #매개변수 st로 전달된 대상을 출력함
so_simple2([1, 2, 3])  #리스트를 전달하면서 함수 호출

[1, 2, 3]

위와 마찬가지로 함수의 매개변수에 리스트도 인자로 전달할 수 있음

In [ ]:
def so_simple3():
  st = [1, 2, 3, 4, 5]
  return st  #리스트를 반환한다
r = so_simple3()  #반환되는 리스트를 변수r에 저장
r

[1, 2, 3, 4, 5]

함수 내에서 리스트를 반환할 수도 있다

In [ ]:
def so_simple4(s):
  print(s)
  return "Bye~"   #문자열 "Bye~"를 반환
r = so_simple4("Hello")  #문자열 "Hello"를 전달, 그리고 반환되는 값 r에 자징
r  #반환된 결과물 출력함

Hello

'Bye~'

문자열도 함수에 전달이 가능하고 반환도 가능

In [ ]:
#연습문제 05-4 문제1
def sum_all(st):
  sum = 0
  for i in range(len(st)):
    sum += st[i]
  return sum
sum_all([1, 2, 3, 4, 5])

15

In [ ]:
#연습문제 05-4 문제2
def show_reverse(st):
  for i in range(len(st)):
    print(st[(i+1)*-1], end = ' ')
show_reverse([1, 2, 3, 4, 5])

5 4 3 2 1

In [ ]:
#연습문제 05-4 문제2
def show_reverse(st):
  for i in range(len(st)):
    print(st[(i+1)*-1], end = ' ')
show_reverse("ABCDEFG")

G F E D C B A

In [ ]:
#6-1 리스트와 함수들
st = [1, 3, 5, 7, 9]
num = len(st)    #len 함수는 리스트에 저장된 값의 개수를 반환 
num

5

len(s) 리스트 s의 길이(값의 수)를 반환   
min(s) 리스트 s의 저장된 값 중 가장 작은 값 반환   
max(s) 리스트 s의 저장된 값 중 가장 큰 값 반환

In [ ]:
st = [2, 5, 3, 7, 4]
min(st)  #2 가장 작은 값
max(st)  #7 가장 큰 값

7

In [ ]:
st = [1, 2, 3]
st.remove(2)   #리스트에서 2를 찾아서 삭제
st

[1, 3]

리스트 안에 값만 존재하는 게 아니라 함수도 존재한다   
우리는 리스트를 {1, 2, 3} 이렇게 생각하지만, 실질적 리스트 내부는>>{1, 2, 3 remove(x)} 이렇게 데이터와(값과) 함수가 묶여 존재하는 덩어리를 가리켜 객체라고 한다. 리스트 = 객체   
리스트는 함수와 데이터가 함께 존재하는 객체이다

In [ ]:
st = [1, 2, 3]
st.remove(2)   #st에 저장된 객체의(리스트의) remove 함수 호출

st에 저장된 객체의 remove함수가 호출됨.   
객체 안에 존재하는 함수는 같은 객체에 있는 데이터를 대상으로 일을 한다.   
위 코드에서 remove(2)를 호출했으니 삭제 후 리스트 내부는 {1, 3 remove(x)} 이렇게 된다
이렇게 remove뿐아니라 여러 함수가 함께 존재한다    
s.append(x) 리스트 s의 끝에 x를 추가(데이터)    
s.extend(x) 리스트 s의 끝에 리스트 t의 내용 전부를 추가    
s.clear()   리스트 s의 내용물 전부 삭제(remove는 일부삭제)    
s.insert(i, x) s[i]에 x를 저장(삽입) (여기서 i는 위치를 말함)    
s.pop(i)       s[i]를 반환 및 삭제(여기 i도 위치)(리무브와 다르게 위치지정해서 삭제가능)    
s.remove(x)  리스트 s에서 제일 앞에 등장하는 x를 하나만 삭제   
s.count(x)   리스트 s에 등장하는 x의 개수 반환    
s.index(x)   리스트 s에 처음 등장하는 x의 인덱스 값 반환(인덱스값=위치)

In [ ]:
st = [1, 2, 3]
st.append(4)  #st끝에 4추가
st.extend([5, 6])  #st 끝에 [5,6]내용 추가
st

[1, 2, 3, 4, 5, 6]

In [ ]:
st = [1, 2, 4]
st.insert(2, 3)  #인덱스 값 2의 위치에 3저장
st    #[1, 2, 3, 4]
st.clear()   #리스트 내용 전부 삭제
st

[]

In [ ]:
st = []  #빈 리스트 생성
st.append(1)  #리스트 끝에 1추가
st.append(9)  #리스트 끝에 9추가
st

[1, 9]

In [ ]:
st = [1, 2, 3, 4, 5]
st.pop(0)   #1  인덱스 값 0의 위치에 저장된 데이터 반환 및 삭제
st   #[2, 3, 4, 5]
st.remove(5)    #리스트에서 5를 삭제
st

[2, 3, 4]

In [ ]:
st = [1, 2, 3, 1, 2]
st.count(1)   #2   1이 몇 번 등장하는지 세어라
st.index(2)   #1   처음 2가 등장하는 위치의 인덱스 값은?

1

In [ ]:
#연습문제 06-1 문제1
st = []
st.append(1)
st.append(2)
st.append(3)
st             #[1, 2, 3]
st.pop(0)      #1
st.pop(0)      #2
st.pop(0)      #3
st

[]

In [ ]:
#연습문제 06-1 문제2
st = []
st.append(1)
st.append(2)
st.append(3)
st.pop(2)
st.pop(1)
st.pop(0)

1

In [ ]:
#연습문제 06-1 문제2
st = []
st.append(1)
st.append(2)
st.append(3)
st.pop(-1)
st.pop(-1)
st.pop(0)

1

In [ ]:
#연습문제 06-1 문제3
st = [1, 2, 3, 4]
st[:] = []
st

[]

In [ ]:
#연습문제 06-1 문제4
st = []
for i in range(10):
  st.append(i+1)
st

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#연습문제 06-1 문제4
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(10):
  st.pop(0)
st

[]

In [ ]:
#연습문제 06-1 문제5
st = []
for i in range(10):
  st.append(i+1)
st

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(10):
  st.pop(-1)

In [ ]:
#연습문제 06-1 문제6
st = [1, 2]
st.extend([3, 4, 5])
st

[1, 2, 3, 4, 5]

In [ ]:
#연습문제 06-1 문제6
st = [1, 2]
st[2:] = [3, 4, 5]   #st[2:3]으로 해도 가능
st

[1, 2, 3, 4, 5]

6-2 두 가지 유형의 함수가 갖는 특징들    
객체 안에 존재하는 함수들은 해당 객체에 특화되어 있지만 객체 밖에 있는 함수들은 특정에 특화되어 있지 않아 다양한 값이나 객체들을 대상으로 동작한다

In [ ]:
#6-2 두 가지 유형의 함수가 갖는 특징들
str = 'Python'
len(str)  #6
min(str)  #p 알파벳 순서상 가장 앞에 있는 문자
max(str)  #y 알파벳 순서상 가장 뒤에 있는 문자

'y'

객체 밖에 있는 함수를 만드는 이유는    
1. 둘 이상의 다양한 종류의 값을 대상으로 동작하는 함수를 만들고자 하였다    
2. 또는 만들기 편하고 사용하기도 편해서    
객체 안에 있는 함수를 만드는 이유는    
1. 해당 객체에 특화된 형태로 함수를 만들기 위해

문자열도 리스트와 마찬가지로 객체이다. 문자열 안에도 다음 함수들이 존재한다    
s.count(sub)   문자열 s에 sub가 등장하는 횟수 반환   
s.lower()      문자열 s의 내용을 전부 소문자로 바꾼 문자열 반환    
s.upper()      문자열 s의 내용을 전부 대문자로 바꾼 문자열 반환    
s.lstrip()     문자열 s의 앞에 위치한 공백을 모두 제거한 문자열 반환  
s.rstrip() 문자열 s의 뒤에 위치한 공백을 모두 제거한 문자열 반환     
s.strip()      문자열 s의 앞과 뒤에 위치한 공백을 모두 제거한 문자열 반환    
s.replace(old, new)문자열 s의 old를 new로 교체한 문자열 반환    
s.split()      문자열 s를 공백 기준으로 나눠서 리스트에 담아서 반환

In [ ]:
#6-3 문자열과 함수들
str = 'YoonSungWoo'
str.count('o')   #4 'o'가 몇 번 등장?
str.count('oo')  #2 'oo'가 몇 번 등장?

2

In [ ]:
org = 'Yoon'
lcp = org.lower()  #yoon 모든 문자를 소문자로 바꿔서 전환
lcp  #yoon
ucp = org.upper()  #YOON 모든 문자를 대문자로 바꿔서 전환
ucp  #YOON
org    #원문은 그대로 존재!!

'Yoon'

lower과 upper는 문자열을 수정하는 함수가 아니고 수정된 내용의 새로운 문자열을 생성해서 반환하는 함수 (문자열은 어떤 함수든 수정 자체가 불가능)

In [ ]:
org = ' MIDDLE '
cp1 = org.lstrip()  #MIDDLE  앞쪽 공백 모두 제거
cp2 = org.rstrip()  # MIDDLE 뒤쪽 공백 모두 제거
org  # MIDDLE 원문 그대로

' MIDDLE '

In [ ]:
org = ' MIDDLE '
cpy = org.strip()  #앞 뒤 공백 모두 제거
cpy

'MIDDLE'

In [ ]:
org = 'YoonSungWoo'
rps = org.replace('oo', 'ee')   #'oo'를 전부 'ee'로 교체
rps

'YeenSungWee'

In [ ]:
org = 'YoonSungWoo'
rps = org.replace('oo', 'ee', 1)   #첫 번째로 등장하는'oo' 하나를 'ee'로 교체
rps

'YeenSungWoo'

In [ ]:
org = 'ab cd ef'
ret = org.split()   #공백을 기준으로 문자열을 쪼개 리스트에 담아줌
ret

['ab', 'cd', 'ef']

In [ ]:
org = 'ab_cd_ef'
ret = org.split('_')   #'_'를 기준으로 문자열을 쪼개 리스트에 담아줌
ret

['ab', 'cd', 'ef']

In [ ]:
#연습문제 06-2 1번문제
str = 'The Espresso Spirit'
a = str.lower() 
a #the espresso spirit
b = str.upper()
b #THE ESPRESSO SPIRIT
str

'The Espresso Spirit'

In [ ]:
#연습문제 06-2 2번문제
def birth_only(pn):
  ret = pn.split('-')
  return ret[0]   #첫 번째 저장된 것만 변환
p1 = '070609-2011xxx'
p1 = birth_only(p1)
p1

'070609'

In [ ]:
#연습문제 06-2 2번문제
def birth_only(pn):
  ret = pn.split('-')
  return ret[0]   #첫 번째 저장된 것만 변환
p2 = '090716-1012xxx'
p2 = birth_only(p2)
p2

'090716'

s.find(sub)  문자열 s에 sub가 있으면 그 위치의 인덱스 값, 없으면 -1 반환    
s.rfind(sub) s.find는 앞에서부터 sub를 찾으면 rfind는 뒤에서부터 찾는다

In [ ]:
#6-4 문자열의 탐색 관련 함수들
str = 'What is important is that you should choose what is best for you'
str.find('is')  #맨 처음 나온 is가 있는 위치의 인덱스 값은?

5

In [ ]:
str = 'What is important is that you should choose what is best for you'
str.rfind('is')  #마지막 is가 있는 위치의 인덱스 값은?

49

몇몇 문자 조합 = 이스케이프 문자

In [ ]:
#6-5 문자열의 일부로 포함이 되는 이스케이프 문자
str = 'escape\ncharacters'  #이스케이프 문자 \n 중간 삽입
print(str)

escape
characters

\n 줄바꿈 \t 탭 \\' 작은따옴표 출력 \\" 큰따옴표 *출력*

In [ ]:
str = '제가 마음속으로 그랬습니다. '이건아니야.' 라고 말이죠'
print(str)

SyntaxError: ignored

In [ ]:
str = '제가 마음속으로 그랬습니다. "이건아니야.' 라고 말이죠'
print(str)

SyntaxError: ignored

작은따옴표로 문자열을 묶고 그안에도 작음 따옴표를 쓰면 오류가 발생해 큰 따옴표로 묶어야한다(반대도마찬가지)

In [ ]:
str = "제가 마음속으로 그랬습니다. '이건아니야.' 라고 말이죠"
print(str)

제가 마음속으로 그랬습니다. '이건아니야.' 라고 말이죠

In [ ]:
s1 = '제가 마음속으로 그랬습니다. \'이건아니야.\' 라고 말이죠'  #제가 마음속으로 그랬습니다. '이건아니야.' 라고 말이죠
s2 = "제가 소리 질렀습니다. \"이건 아니야!\"라고 말이죠."   #제가 소리 질렀습니다. "이건 아니야!"라고 말이죠.
print(s1)
print(s2)

제가 마음속으로 그랬습니다. '이건아니야.' 라고 말이죠
제가 소리 질렀습니다. "이건 아니야!"라고 말이죠.

이스케이프 문자 \\'  \\"을 사용하면, 문자열을 무엇으로 묶던 상관하지 않고 큰따옴표와 작은따옴표를 문자열에 포함시킬 수 있다

In [ ]:
#6-6 함수가 아닌 del 명령
st = [1, 2, 3, 4, 5]
st.clear() #리스트의 모든 값 삭제
st[:] = [] #리스트의 모든 값 삭제
st[2:] = [] #인덱스 2 이후로 전부 삭제

이렇게 다양하게 리스트의 삭제가 가능하다(문자열은 불가)

In [ ]:
st = [1, 2, 3, 4, 5]
del st[:]  #리스트에 저장된 값 모두 삭제
st

[]

In [ ]:
st = [1, 2, 3, 4, 5]
del st[3:]  #st[3]부터 그뒤까지 모두 삭제
del st[0]   #st[0] 하나만 삭제
st

[2, 3]

In [ ]:
st = [1, 2, 3, 4, 5]
del st

리스트를 통째로! 자체를 삭제할 때!

True 참을 의미. 질문 내용이 맞는 경우 대답이되기도함   
False 거짓을 의미. 질문 내용이 맞지 않는 경우 대답이 되기도 함

In [ ]:
#7-1 참과 거짓을 의미하는 값(데이터)
3>10 #False
3<10 #True

True

In [ ]:
r = 3 < 10  # < 연산의 결과인 true 가 변수 r에 저장됨
r

True

In [ ]:
type(True) #bool
type(False) #bool

bool

True, False = bool bool은 부울형 데이터, 부울형 값이라 한다    
데이터 종류: int형 데이터, float형 데이터, 리스트형 데이터, 스트링형 데이터(문자), 부울형 데이터

In [ ]:
#7-2 소스파일에 main 함수 만들기
#main.py
def main():   #main 함수의 정의
  print('Simple Frame')
main()                 #main 함수의 호출을 명령

Simple Frame

In [ ]:
#7-3 if문: 조건이 맞으면 실행을 해라.
#if_positive.py
def main():   #main함수 정의
  num = int(input("정수 입력: "))
  if num > 0:
    print("양의 정수입니다.")

main()

정수 입력: 2
양의 정수입니다.

In [ ]:
num = 2
if num > 0: print("양의 정수입니다.")  #위에 내용을 한 줄에 모두담은 경우

양의 정수입니다.

In [ ]:
#7-4 if~else문: 이쪽 길! 아니면 저쪽 길!
#if_else.py
def main():
  num = int(input("정수 입력: "))
  if num > 0:
    print("0보다 큰 수입니다.")   #num이 0보다 크면 이 문장 실행
  else:
    print("0보다 크지 않은 수입니다")   #num이 0보다 크지 않으면 이 문장 실행
main()

정수 입력: -7
0보다 크지 않은 수입니다

In [ ]:
#7-5 if~elif~else문: 여러 길 중에서 하나의 길만 선택!
#if_elif_else.py
def main():                      #조건에 따라서 아래 문장 1, 2, 3중 하나만 실행이 된다
  num = int(input("정수 입력: "))
  if num > 0:
    print("0보다 큰 수입니다.")
  elif num < 0:
    pirnt("0보다 작은 수입니다.")
  else:
    print("0으로 판단이 됩니다")
main()

정수 입력: 0
0으로 판단이 됩니다

A >= Z  A가 Z보다 크거나 같으면 TRUE아니면 FALSE   
A <= Z  A가 Z보다 작거나 같으면 FALSE 아니면 TRUE    
A == Z  A와 Z가 같으면 TRUE, 같지 않으면 FALSE를 반환    
A != Z  A와 Z가 같지 않으면 TRUE, 같으면 FLASE반환

In [ ]:
#7-6 True 또는 False를 반환하는 연산들
#if_elif_else2.py
def main():
  num = int(input("정수 입력: "))
  if num == 1:                 
    print("1을 입력했습니다.")
  elif num == 2:
    print("2를 입력했습니다.")
  elif num == 3:
    print("3을 입력했습니다.")
  else:
    print("1, 2, 3 아닌 정수 입력했습니다.")
main()

정수 입력: 4
1, 2, 3 아닌 정수 입력했습니다.

In [ ]:
#if_and_if.py
def main():
  num = int(input("2의 배수이면서 3의 배수인 수 입력: "))
  if num % 2 == 0:  #연산 순서 구분되게 (num % 2) == 0으로 입력 가능
    if num % 3 == 0:  #연산 순서 구분되게 (num % 3) == 0으로 입력 가능
      print("ok!")
    else:
      print("no!")
  else:
    print("no!")
main()

2의 배수이면서 3의 배수인 수 입력: 12
ok!

if~ *else문* 영역 안에 또 하나의 if~ else문이 들어가 있는 구조

In [ ]:
True and True  #True 이 문장에서 ture는 값, and는 연산자

True

In [ ]:
True and False #이 문장에서 true, false는 값이고 and는 연산자

False

In [ ]:
True or False #True
False or False #False
not False #True
not True #False

False

A and Z  A와 Z가 모두 TRUE면 TURE, 그렇지 않으면 FALSE반환    
A or Z   A와 Z 둘 중 하나라도 TURE면 TURE, 그렇지 않으면 FALSE 반환    
not A     A가 TURE면 FLASE, A가 FALSE면 TRUE 반환

In [ ]:
num = 6
(num % 2) == 0 and (num % 3) == 0  #소괄호 없어도 됨

True

In [ ]:
#and.py
def main():
  num = int(input("2의 배수이면서 3의 배수인 수 입력: "))
  if (num % 2) == 0 and (num % 3) == 0:  #num이 2와 3의 배수이면 조건 true
    print("ok!")
  else:
    print("no!")
main()

2의 배수이면서 3의 배수인 수 입력: 24
ok!

In [ ]:
#연습문제 07-1 문제1
def main():
  num = int(input())
  if num >= 0:
    print("입력한 값은 0이거나 0보다 큽니다")
  else:
    print("입력한 값은 0보다 작습니다")
main()

2
입력한 값은 0이거나 0보다 큽니다

In [ ]:
#연습문제 07-1 문제2
num = 3
num > 1 and num < 5

True

In [ ]:
#연습문제 07-1 문제3
num = 12
num <3 or num > 10

True

In [ ]:
#연습문제 07-1 문제4
num = 4
num % 2 == 0 and num % 3!= 0

True

In [ ]:
#연습문제 07-1 문제5
def main():
  num = int(input())
  if num < 0:
    print("입력한 값은 0보다 작습니다")
  elif 0 <= num < 10:
    print("입력한 값은 0 이상 10 미만입니다.")
  elif 10 <= num < 20:
    print("입력한 값은 10이상 20 미만입니다")
  else:
    print("입력한 값은 20 이상입니다.")
main()

30
입력한 값은 20 이상입니다.

In [ ]:
#7-7 리스트와 문자열을 대상으로도 동작하는 >=, <=, ==, !=
'abc' == 'abc'  #true 두 문자열이 같은가?
'abc' != 'abc'  #flase 두 문자열이 다른가?

False

In [ ]:
[1, 2, 3] == [1, 2]  #flase 두 리스트가 같은가?
[1, 2, 3] != [1, 2]  #true 두 리스트가 다른가?

True

s.isdigit()  문자열 s가 숫자로만 이뤄져 있으면 true, 아니면 false 반환    
s.isalpha()  문자열 s가 알파벳으로만 이뤄져 있으면 true, 아니면 false 반환    
s.startswith(prefix)  문자열 s가 prefix로 시작하면 true, 아니면 false 반환    
s.endswith(suffix)  문자열 s가 suffix로 끝나면 true, 아니면 false 반환

In [ ]:
#7-8 true 또는 false 로 답하는 함수들
st1 = '123'
st2 = 'OneTwoThree'
st1.isdigit()  #True 숫자로만 이루어졌는지
st2.isdigit()  #False 숫자로만 이루어졌는지

False

In [ ]:
st1 = '123'
st2 = 'OneTwoThree'
st1.isdigit()  #True 숫자로만 이루어졌는지
st2.isalpha()  #true 알파벳으로만 이루어졌는지

True

In [ ]:
str = 'Supersprint'
str.startswith("Super")  #true 문자열이 super로 시작하느지
str.endswith('int')   #true 문자열이 int로 끝나는지

True

In [ ]:
#is_phone_num.py
def main():
  pnum = input("스마트폰 번호 입력: ")
  if pnum.isdigit() and pnum.startswith("010"):
    print("정상적인 입력입니다.")
  else:
    print("정상적이지 않은 입력입니다.")
main()

스마트폰 번호 입력: 01023993999
정상적인 입력입니다.

In [ ]:
#7-9 in, not in
s = "Tomato spaghetti"
if s.find("ghe") != -1:       #ghe 가 없으면 find함수는 -1을 반환하기때문에 사용 not != 를 씀
  print("있습니다.")
else:
  print("없습니다.")

있습니다.

ghe 가 없으면 find함수는 -1을 반환하기때문에 반환하는 값이 -1인지 확인하는 방식으로 사용 not != 를 씀

In [ ]:
s = "Tomato spaghetti"
if 'ghe' in s:
  print("있습니다.")
else:
  print("없습니다.")

있습니다.

find 함수대신 in 연산자를 사용해서 확인하는 방법도  있다 (존재의 유무만 확인하고자는 in연산자가 좋지만 찾는 내용의 위치 정보가 필요하다면 find 함수를 사용하는 게 좋음)

In [ ]:
3 in [1, 2, 3]  #True 리스트 안에 3이 있는가
4 in [1, 2, 3]  #false 리스트 안에 4가 있는가

False

e in S   S에 e가 있으면 true, 없으면 false를 반환  
e not in S   S에 e가 없으면 true, 있으면 flase를 반환

In [ ]:
3 not in [1, 2, 3]  #false 리스트 안에 3이 없는가
4 not in [1, 2, 3]  #true 리스트 안에 4가 없는가
'he' not in "hello" #false he는 hello의 일부가 아닌가
'oo' not in 'hello' #true  oo는 hello의 일부가 아닌가

True

and 둘 다 true인가, or 둘 중 하나라도 true인가, not 바꿔라!, in 들어 있는가, not in 들어 있지 않은가

In [ ]:
#연습문제 7-2 
def main():
  num = input("정수 입력: ")
  if num.isdigit():
    print(int(num)**2)
  else:
    print("정수가 아닙니다.")
main()

정수 입력: 5
25

In [ ]:
#7-10 수(number)를 true와 false로 인식하는 방법
if True:
  print("사실입니다.")

사실입니다.

앞서 배운 if문은 조건에 맞춰 true나 false가 나왓지만 필요하다면 위와 같이 조건 위치에 직접 true나 false를 넣어도 됨

In [ ]:
what = True
if what:
  print("사실입니다.")

사실입니다.

위와같이 true를 변수에 담아서 조건에 넣어도 됨

In [ ]:
num = 1
if num:
  print("0이 아닙니다.")

0이 아닙니다.

In [ ]:
num = 5
if num:
  print("0 아닙니다.")
else:
  print("0이 맞습니다.")

0 아닙니다.

true나 false가 와야할 위치에 수가 등장하면     
0이 오는 경우 false가 오는 것으로 간주    
 0아닌 수가 오는 경우 true가 온 것으로 간주

In [ ]:
num = 1
if num != 0:  #0 아니라면 true
  print("num은 0 아닙니다.")

num은 0 아닙니다.

In [ ]:
num = 1
if num:
  print("num은 0 아닙니다.")

num은 0 아닙니다.

In [ ]:
bool(5)

True

In [ ]:
bool("what")  #True
bool("")    #False 텅 빈 문자열은 false

False

In [ ]:
bool([1, 2, 3]) #True
bool([])  #False

False

빈 문자열, 리스트는 false, 비어 있지 않은 문자열, 리스트는 true

In [ ]:
#8-1 for루프에 대한 복습
#for_sum.py
def main():
  sum = 0
  for i in [1, 2, 3, 4, 5, 6, 7, 8, 9,10]:
    sum = sum + i  #sum에 저장된 값을 i에 저장된 값만큼 증가시킴
  print("sum =", sum, end = ' ')
main()

sum = 55

In [ ]:
#for_sum_range.py
def main():
  sum = 0
  for i in range(1, 11):  #변수 i에 1부터 11이전의 값까지 넣어가며 반복
   sum = sum + i
  print("sum =", sum, end = " ")
main()

sum = 55

while 루프는 
while <조건>:
  <조건이 true인 경우 반복 실행할 문장>

In [ ]:
#8-2 true가 될 때까지 반복하는 while 루프
#while_baisc.py
def main():
  cnt = 0
  while cnt < 3:  #cnt의 값이 3보다 작으면 반복
    print(cnt, end = " ")  #뒤에 end를 안붙이면 줄바꿈이 됨
    cnt = cnt + 1  #cnt에 저장된 값을 1 증가
main()

0 1 2

cnt가 0이기에 조건이 true라서 1, 2가 될 때까지 반복하다가 3이되면 false 라서 루프를 탈출    
while루프의 조건은 반복을 위한 조건

In [ ]:
#8-3 for 루프와 while 루프의 비교
#while_sum.py
def main():
  i = 1
  sum = 0  #1부터 10까지의 합이 이 변수에 저장된다
  while i < 11:
    sum = sum + i  #sum의 값을 i 만큼 증가
    i = i + 1  #i 값을 1만큼 증가
  print("sum =", sum, end = " ")
main()

sum = 55

In [ ]:
#while_over100.py
def main():
  i = 1
  sum = 0
  while sum <= 100: #sum의 값이 100 이하인 경우에만 반복을 해라!
    sum = sum + i
    i = i + 1
  print(i, "더했을 때의 합", sum, end = ' ')
main()

15 더했을 때의 합 105

1부터 더해 나가다가 몀ㅊ을 더했을 때 처음으로 100을 넘기는 순간은?    
이렇듯 반복의 횟수가 정해지지 않은경우 while루프를 이용하는 것이 더 자연스럽다

In [ ]:
#연습문제 08-1 1번문제
i = 0
while i < 10:
  print(i, end=' ')
  i = i + 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
#연습문제 08-1 2번문제
num = 9
while num >= 0:
  print(num, end=' ')
  num = num -1

9 8 7 6 5 4 3 2 1 0

In [ ]:
#연습문제 08-1 3번문제
num = 0
i = 0
while i != 63:
  num = num + 1
  i = 3*num / 2

num

42

In [1]:
 #8-4 break
 #while_break.py
 def main():
   i = 0
   while i <100:
     print(i, end =' ')
     i = i + 1
     if i == 20:
       break
main()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [3]:
#while_over100_break.py
def main():
  i = 1
  sum = 0
  while True:   #무한루프 = 조건이 true일 경우 반복 실행할 문장들
    sum = sum + i
    if sum > 100:
      print(i, '더했을 때의 합', sum, end = ' ')
      break
    i = i + 1
main()

14 더했을 때의 합 105

In [19]:
#연습문제 08-2 1번문제
_1cm = 0
mini = 45
while True:
  if (mini % 6 ==0 and mini % 45 ==0):
    _1cm = mini
    break
  mini = mini + 1
_1cm

90

In [30]:
#연습문제 08-2 2번문제
gcm = 0
n = 42
while True:
	if 42 % n == 0 and 120 % n == 0:
		gcm = n
		break
	n = n - 1

gcm

6

In [46]:
#8-5 continue
for i in range(1, 11):
  print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [47]:
for i in range(1, 11):
  if i % 2==0:
    continue    #프린트하지 말고 아래문장을 건너 뛰어 다시 다음 숫자로 for문 가기
  print(i, end=' ')

1 3 5 7 9

break는 for 루프를 빠져나가지만 continue는 빠져나가지 않는다   
continue가 실행되면 for 루프에 속한 나머지 문장들을 건너 뛰고 그 다음 반복을 이어가게 된다

In [50]:
i = 0
while i < 10:
  i = i + 1
  if i % 3 ==0:     #if i % 3 ==0: continue  if에 속한 문장이하나라 이렇게 한 줄에 표현도 가능
    continue     
  print(i, end=' ')

1 2 4 5 7 8 10

In [76]:
#연습문제 08-3 1번문제
i = 1
for i in range(1, 10):
  i = i * 7
  if i % 2:
    continue
  print(i, end=' ')

14 28 42 56

In [77]:
#연습문제 08-3 1번문제 교제답
for i in range(1, 10):
  if (7* i) % 2:  
    continue
  print(7*i, end=' ')

14 28 42 56

In [82]:
#연습문제 08-3 2번문제
num = 1
while num <100 :
  num +=1
  if (num % 2 != 0 and num %3 != 0):
    print(num, end=' ')

5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59 61 65 67 71 73 77 79 83 85 89 91 95 97

In [88]:
#연습문제 08-3 3번문제
num = 1
while num <100 :
  num +=1
  if (num % 2 == 0 or num %3 == 0): 
    continue
  print(num, end=' ')

5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59 61 65 67 71 73 77 79 83 85 89 91 95 97

In [89]:
#8-6 이중 for 루프
for i in [1,2]:   #바깥쪽 for 루프
  for j in ['a', 'b', 'c']:
    print(j * i, end = ' ')

a b c aa bb cc

분석의 시작은 바깥쪽 for루프에서 시작됨. 바깥 for루프에 의해서 그 안쪽에 위치한 for루프가 반복 실행되는 구조   
즉 변수 i가 1일 때  for 루프가 실행    
print(j* 1, end=' ') 이렇게 실행되어 a a a 가 나오고   
다음 변수 i 가 2일 때     
print(j*2, end=' ') 가 실행되어 aa bb cc로 나옴

In [95]:
sr = ['father', 'mother', 'brother']
cnt = 0   #'r'이 등장하는 횟수를 세기 위한 변수
for s in sr:  #변수 s에 문자열이 하나씩 담김
  for c in s:  #변수 c에 문자가!!!! 하나씩 담김
    if c == 'r':
      cnt += 1
cnt

4

for s in sr: 여기서 담긴 변수 s는 'father', 'mother', 'brother' 이 순서대로 문자열에 담는다   
그 다음 안쪽 for루프들은   
for c in 'mother':   
  if c == 'r':   
    cnt += 1    
이런식으로 문자열이 하나씩 s자리에 들어가게 되어 3번을 반복한다

In [103]:
#연습문제 08-4 
for i in range(2, 10):
  for j in range(1, 10):
    print(i * j, end=' ')
  print('\n', end = ' ')

2 4 6 8 10 12 14 16 18
 3 6 9 12 15 18 21 24 27
 4 8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81