<a href="https://colab.research.google.com/github/sera0911/python_basic/blob/main/%EC%97%B4%ED%98%88_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%ED%8E%B809~14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#9-1 tuple
tpl = (1, 2, 3)
tpl[0]   # 1   이렇게 값을 참조하는 것은 가능 
tple[0] = 7 # 이렇게 값을 수정하는 것은 에러

1

In [ ]:
#9-2 튜플을 어디다 쓸 것인가?
frns = [('동수', 131120), ('진우', 130312), ('선영', 130904)]
frns[2]

('선영', 130904)

이렇게 튜플로 묶어 값이 변하지 않도록 사용

In [ ]:
#09-3 튜플 관련 함수와 연산들
#len(s)  min(s)  max(s) 함수들을 호출 할 수 있다
nums = (3, 2, 5, 7, 1)
len(nums)  #5
max(nums)  #7
min(nums)  #1e

5

.count()  .index() 함수도 사용가능

In [ ]:
nums = (1, 2, 3)
3 in nums   #3이 넘에 있는지 true
2 not in nums #2가 넘에 없는지 false
nums + (4, 5)  # 넘에 4,5를 덧붙이면 (1, 2, 3, 4, 5)
nums * 2    #넘을 두 개 덧붙이면 (1, 2, 3, 1, 2, 3)
nums[0:3]    #넘에서 [0]~[2]를 꺼내면?

(1, 2, 3)

In [ ]:
for i in (1, 3, 5, 7, 9):
  print(i, end = ' ')

1 3 5 7 9

튜플은 한 번 만들면 수정 할 순 없지만 새로운 튜플을 생성 할 수 있다.

In [ ]:
#연습문제 09-1 1번문제
def to_list(t):
  st = []
  for i in t:
    st.append(i)
  return st

ds = (1, 2, 3)
ds = to_list(ds)   #튜플에 있는 인자를 리스트로 바꿔주는 함수
ds

[1, 2, 3]

In [ ]:
def to_list(t):
  st = []
  for i in t:
    st.append(i)
  return st

ds = 'hello'
ds = to_list(ds)
ds

['h', 'e', 'l', 'l', 'o']

In [ ]:
#9-4 
frns = [('동수', 131120), ('진우', 130312), ('선영', 130904)]
frns[0][0]  #동수
frns[0][1]  #131120

131120

지금까지 range는 리스트를 대신하는 정도였는데 이는 range 함수의 호출이다.   
그리고 이 함수가 호출되면 객체가 생성되는데, 이 객체는 다음과 같이 변수에 저장할 수 있고 또 type함수에 전달해 데이터형도 확인가능하다다

In [ ]:
#9-5 범위를 지정하는 레인지
r = range(1, 10)  #range 호출로 만들어진 객체를 변수 r에 담는다
type(r)   #range

range

In [ ]:
r = range(1, 10)
9 in r  #true
10 not in r #true 9까지니까

True

list(s)  s의 내용으로 채워진 리스트를 만듬   
tuple(s) s의 내용으로 채워진 튜플을 만듬

In [ ]:
list((1, 2, 3))  #튜플을 리스트로   [1, 2, 3]
list(range(1, 5))  #레인지를 리스트로   [1, 2, 3, 4]
list('hello')     #문자열을 리스트로  ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [ ]:
tuple([1, 2, 3])  #리스트를 튜플로   (1, 2, 3)
tuple(range(1, 5))  #레인지를 튜플로   [1, 2, 3, 4]
tuple('hello')     #문자열을 튜플로  ['h', 'e', 'l', 'l', 'o']

('h', 'e', 'l', 'l', 'o')

일정하게 증가하는 긴 튜플이나 리스트가 필요한 경우는 range를 사용하여 간결하게 만들 수 있다

In [ ]:
lst = list(range(1, 16))  #레인지를 넘겨 리스트를 만듬
lst                       #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
tpl = tuple(range(1, 16)) #레인지를 넘겨 튜플을 만듬
tpl                       #(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [ ]:
range(1, 10, 2)   #1부터 10 이전까지 2씩 증가하는 레인지
range(1, 10, 3)   #1부터 10 이전까지 3씩 증가하는 레인지

range(1, 10, 2)

In [ ]:
list(range(1, 10, 2))  #1부터 10 이전까지 2씩 증가하는 리스트 만들기    [1, 3, 5, 7, 9]
list(range(1, 10, 3))  #1부터 10 이전까지 3씩 증가하는 리스트 만들기    [1, 4, 7]

[1, 4, 7]

In [ ]:
#9-5 레인지 범위 거꾸로 지정하기
list(range(2, 10))
list(range(2, 10, 1))  #두가지는 같은 공식 2부터 1씩 증가하여 9까지 이르는 정수들

In [ ]:
list(range(10 ,2, -1))    #[10, 9, 8, 7, 6, 5, 4, 3]
list(range(10, 2, -2))    #[10, 8, 6, 4]
list(range(10, 2, -3))    #[10, 7, 4]

[10, 9, 8, 7, 6, 5, 4, 3]

range(시작, 끝, 증가 or 감소하는 수)

In [ ]:
#연습문제 09-2 문제1
for i in range(9, 0, -1):
  print(i*7, end=' ')

63 56 49 42 35 28 21 14 7

In [ ]:
#연습문제 09-2 문제2
a = tuple(range(1,101))
b = tuple(range(99, 0, -1))
print(a+b, end=' ')

#tp = tuple(range(1,101)) + tuple(range(99, 0, -1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
#10-1 함수 만들기 복습
#아무 값도 전달받지 않는 함수
def greet():
  print('반갑습니다')
  print('파이썬이 재밌으시죠?')
greet()

반갑습니다
파이썬이 재밌으시죠?

In [ ]:
#값을 전달받으면서 값을 반환도 하는 합수 return로 반환
def adder(n1, n2):
  r = n1 + n2
  return r   #r에 저장된 값을 반환
adder(3, 4)

7

In [ ]:
#10-2 이름을 지정해서 값 전달받기
def who_are_you(name, age):
  print('이름:', name)
  print('나이:', age)

who_are_you(name ='윤성우', age = 24)

이름: 윤성우
나이: 24

name 에 윤성우 age 에 24 전달   
name 과 age는 매개변수이다.   
매개변수의 이름을 지정해서 값을 전달하면 전달 순서는 상관없다. 아래와 같이

In [ ]:
def who_are_you(name, age):
  print('이름:', name)
  print('나이:', age)

who_are_you(age = 24, name ='윤성우')

이름: 윤성우
나이: 24

In [ ]:
#연습문제 10-1
i = 0
for i in range(3):
  print(i+ 1, i +2, i + 3, sep = ',')

1,2,3
2,3,4
3,4,5

In [ ]:
#10-3 
def who_are_you(name, age = 0):  #age 디폴트 값은 0
  print('이름:', name)
  print('나이:', age)

who_are_you('윤성우')
#이름: 윤성우
#나이: 0

who_are_you('제인', 25)

이름: 윤성우
나이: 0
이름: 제인
나이: 25

매개변수에 디폴트값을 지정할 수 있는데, 이것은 변수에 채울 값이 전달되지 않으면 디폴트 값을 전달한다는 뜻

In [ ]:
def who_are_you(age = 0, name):  #age 디폴트 값은 0
  print('이름:', name)
  print('나이:', age)

SyntaxError: ignored

이렇게 함수를 만들 때 디폴트 값을 갖는 매개변수와 갖지 않는 변수가 함께 존재한다면, 반드시 디폴트 값을 갖는 매개변수가 뒤에 와야 한다

In [ ]:
def have_default_value(n1, n2, n3 = "df1", n4 = "df2"):   #이렇게 디폴트를 갖는 매개변수를 뒤쪽에 두어야 함
  print(n1, n2, n3, n4)

have_default_value(1,2, 3, 4) #1 2 3 4
have_default_value(1, 2)

1 2 3 4
1 2 df1 df2

값이 없을 경우에 강제로 넣는 역할인데 앞에 두면 값이 거의 들어가기 때문에 앞에 두는 걸 허용치 않음

In [ ]:
#10-4 함수의 매개변수 참조 관계
def func(s):   #전달 값이 리스트라고 가정하고 정의
  s[0] = 0    #리스트 첫 값을 0으로 수정
  s[-1] = 0   #리스트 마지막 값을 0으로 수정

st = [1, 2, 3]
func(st)
st           #함수 호출 후 st가 [1, 2, 3] 에서 [0, 2, 0]으로 바뀜

[0, 2, 0]

In [ ]:
#연습문제 10-2
def add1(s):
  for i in range(len(s)):
    s[i] += 1


st = [1, 2, 3, 4, 5]
add1(st)
st

[2, 3, 4, 5, 6]

In [ ]:
#11-1 모듈을 만들어 봅시다
PI = 3.14  #원주율
def ar_circle(rad):        #원의 넓이를 계산해서 반환하는 함수
  return rad * rad * PI 

def ci_circle(rad):   #원의 둘레를 계산해서 반환하는 함수
  return rad * 2 * PI

ar_circle(1.4)    #6.1544
ci_circle(1.4)   #8.792

8.792

In [ ]:
# circle.py
PI = 3.14  #원주율
def ar_circle(rad):        #원의 넓이를 계산해서 반환하는 함수
  return rad * rad * PI 

def ci_circle(rad):   #원의 둘레를 계산해서 반환하는 함수
  return rad * 2 * PI

이렇게 만들어진 소스파일을 가리켜 모듈이라고 한다.    
모듈은 필요할 때 가져다 쓸 수 있는, 또는 다른 프로그램의 일부가 될 수 있는 내용을 담고 있는 파일을 의미   
보편적으로 파이썬은 모든 소스파일을 그냥 모듈이라 부르는 경우가 많음

In [ ]:
#11-2 모듈을 가져다 쓰는 방법1
#circle_test1.py

import circle

def main():
  r = float(input('반지름 입력:'))
  ar = circle.ar_circle(r)   #circle.py의 ar_circle 함수 호출 방법
  print('넓이', ar)
  ci = circle.ci_circle(r)   #circle.py의 ci_circle 함수 호출 방법
  print('둘레', ci)

main()

반지름 입력:5.5
넓이 94.985
둘레 34.54

모듈을 가져다 쓰려면 위 circle.py  가 같은 폴더에 저장된 상태여야 함   
import circle   로 선언 뒤에 .py는 안붙음

In [ ]:
#circle_test2.py

from circle import ar_circle   #circle.py에서 ar_circle 함수를 가져다 쓰겠다
from circle import ci_circle   #circle.py에서 ci_circle 함수를 가져다 쓰겠다

def main():
  r = float(input("반지름 입력:", ))
  ar = ar_circle(r)   #circle.py의 ar_circle 함수 호출 방법
  print('넓이', ar)
  ci = ci_circle(r)   #circle.py의 ci_circle 함수 호출 방법
  print('둘레', ci)

main()

반지름 입력:5.5
넓이 94.985
둘레 34.54

이렇게 함수 단위로 선언하면 모듈 이름 없이 함수의 이름만으로 호출 가능하다   
ar = ar_circle(r) 이렇게 선언     
from circle import ar_circle      
from circle import ci_circle     
이 두줄을 
from circle import ar_circle, ci_circle 이렇게 한줄로 써도 된다

In [ ]:
#11-3 모듈을 가져다 쓰는 방법 2
#circle_simple2.py

from circle import ar_circle as ac  #가져다 쓸 ar_circle 함수을 ac라는 이름으로 
from circle import ci_circle as cc  #가져다 쓸 ci_circle 함수을 cc라는 이름으로

def ar_circle(rad) :
  print('넓이:', rad * rad * 3.14)
def ci_circle(rad) :
  print('둘레:', rad * 2 * 3.14)

def main():
  r = float(input("반지름 입력:", ))
  ar_circle(r)  
  ci_circle(r)  
  sum = ac(r) + cc(r)   #circle.py에 있는 두 함수 호출
  print('넓이와 둘레의 합:', sum)

main()

반지름 입력:1.5
넓이: 7.065
둘레: 9.42
넓이와 둘레의 합: 16.485

In [ ]:
#11-4 as로 모듈의 이름 줄이기
#circle_test1.py
import circle   #circle,py 의 모듈을 가져다 쓰겠다 선언

def main():
  r = float(input('반지름 입력: '))
  ar = circle.ar_circle(r)      #circle.py 의 ar_circle 함수 호출 방법

In [ ]:
#circle_test3.py
import circle as cc  #circle,py 의 모듈을 cc라는 이름으로 가져다 쓰겠다 선언

def main():
  r = float(input('반지름 입력: '))
  ar = cc.ar_circle(r)      #circle.py 의 ar_circle 함수 호출 방법

이렇게 as 로 애칭을 주어서 모듈을 줄여 쓸 수 있다   
모듈의 이름의 긴 경우 많이 사용한다.

수학 관련 모듈
파이썬에는 '빌트인 함수'라는 것이 있는데, 이는 파이썬을 설치하면 기본적으로 제공하는 함수를 뜻함   
그리고 '빌트인 모듈' 도 있는데 이는 모듈의 저장 위치를 신경 쓰지 않고 언제 어디서든 import 선언을 해서 그 안에 있는 함수를 호출할 수 있다.

모듈 이름 math   
모듈 기능 수학 관련 함수들로 채워져 있음 약 40개

In [ ]:
#11-5 수학 관련 모듈
import math #math모듈을 가져다 쓰겠다는 선언
math.fabs(-10)    #math모듈의 fabs함수 호출 = 절대값을 구하는 함수

10.0

직각에 대한 degree 표현  90º <90도     
직각에 대한 radian 표현 파이/2    
sin 45 cos 45 tan 45

위에 함수들 중 삼각법과 관련된 모든 함수들에는 인자로 radian 단위의 값을 전달 해야 한다.   
따라서 45도에 대한 다음 값들을 알고 싶다면,   
1. sin 45 cos 45 tan45 이렇게 함수에 radian 값을 바로 전달 (45도는 파이/4)

In [ ]:
import math
math.sin(math.pi/4)   #math.pi 는 파이, 그리고 파이는 radian 단위의 값
#0.7071067811865475
math.cos(math.pi/4)
#0.7071067811865476
math.tan(math.pi/4)

0.9999999999999999

2. radians 함수를 이용해 값을 바꿔서 전달

In [ ]:
import math
math.sin(math.radians(45))   #45를 radian 단위로 바꿔서 sin 함수의 인자로 전달
#0.7071067811865475
math.cos(math.radians(45))
#0.7071067811865476
math.tan(math.radians(45))

0.9999999999999999

In [ ]:
#12-1 딕셔너리의 이해
dc = {'정은호': '010-3333-5555', '구아나' : '010-2222-6666'}  #딕셔너리
dc

{'구아나': '010-2222-6666', '정은호': '010-3333-5555'}

딕셔너리는 키와 값이 쌍(pair)로 이루어져야 한다.   
값을 튜플이나 리스트로 둘 수도 있다. 단 리스트는 키로 둘 수 없다

In [ ]:
dc = {
    '이름' : '이순동',
    '나이' : 19,
    '직업' : '학생',
    '키': 175.8
}
dc

{'나이': 19, '이름': '이순동', '직업': '학생', '키': 175.8}

이렇게 저장되는 값의 종류가 각각 달라도 가능하다.   
주의할 점은 값은 중복되어도 괜찮지만 키는 이름 그대로 값을 꺼내는 열쇠기 때문에 중복되면 안된다.

In [ ]:
dc = {
    '이순동' : 22,
    '김순동' : 22,
    '정순동' : 22
}
dc

{'김순동': 22, '이순동': 22, '정순동': 22}

이렇게 서로 다른 키에 같은 값을 저장하는 것은 가능하다

In [ ]:
dc = {
    '이순동' : 22,
    '이순동' : 23,
    '이순동' : 24
}
dc

{'이순동': 24}

이렇게 같은 키의 데이터가 둘 이상 저장되면 값이 하나만 나오게 된다.    
키는 값을 꺼내는 열쇠로 사용되기에 하나의 딕셔너리 안에 동일한 키가 둘 이상 존재할 수 없다.

In [ ]:
#12-2 딕셔너리의 데이터 참조
dc = {
    '코카콜라': 900,
    '바나나맛우유': 750,
    '비타500' : 600,
    '삼다수' : 450
}

v = dc['삼다수']   #삼다수에 해당하는 값을 꺼내옴, 이때 삼다수가 키임
v

450

딕셔너리의 있는 값을 알고싶다면, 인덱싱 연산을 하는 것과 같은데 이때 인덱스 값을 대신해서 키를 사용   
[0]을 대신 ['키']    
이때 값을 변경하고 싶다면 수정가능하다

In [ ]:
dc = {
    '코카콜라': 900,
    '바나나맛우유': 750,
    '비타500' : 600,
    '삼다수' : 450
}

dc['삼다수']  = 550  #삼다수에 해당하는 값을 550으로 수정
dc

{'바나나맛우유': 750, '비타500': 600, '삼다수': 550, '코카콜라': 900}

In [ ]:
dc = {
    '코카콜라': 900,
    '바나나맛우유': 750,
    '비타500' : 600,
    '삼다수' : 450
}

dc['삼다수']  += 100 #삼다수에 해당하는 값을 550으로 수정
dc

{'바나나맛우유': 750, '비타500': 600, '삼다수': 550, '코카콜라': 900}

이렇게 두 가지 방식으로 수정 가능하다

In [ ]:
dc = {
    '코카콜라': 900,
    '바나나맛우유': 750,
    '비타500' : 600,
    '삼다수' : 450
}

dc['카페라떼']  = 1300  #이 경우 데이터의 추가로 이어진다
dc

{'바나나맛우유': 750, '비타500': 600, '삼다수': 450, '카페라떼': 1300, '코카콜라': 900}

In [ ]:
dc = {
    '코카콜라': 900,
    '바나나맛우유': 750,
    '비타500' : 600,
    '삼다수' : 450
}

del dc['비타500']   #비타500에 대한 정보 삭제
dc

{'바나나맛우유': 750, '삼다수': 450, '코카콜라': 900}

In [ ]:
#12-3 연산자 ==을 대상으로 관찰하는 딕셔너리의 성격
t1 = [1, 2, 3]
t2 = [1, 2, 3]
t3 = [3, 2, 1]
t1 == t2   #t1과 ts가 같은가? 저장 내용과 순서가 같아서 true
t1 == t3   #이 경우는 저장 순서가 달라서 false

False

두 리스트의 == 연산의 결과가 true이려면, 저장된 값과 순서가 모두 같아야 한다

In [ ]:
d1 = {1: 'a', 2: 'b'}
d2 = {1: 'a', 2: 'b'}
d4 = {2: 'b', 1: 'a'}
d1 == d2   #d1과 d2가 같은가? 저장 내용이 같아서 true
d1 == d3   #d1과 d3가 같은가? 저장 내용이 같아서 이 내용에도 true

True

딕셔너리의 데이터는 저장 순서가 의미 없다. 키가 같다면 true로 결과를 반환한다.

In [ ]:
#12-4 in 연산과 not in 연산
dc1 = {'코카콜라': 900, '삼다수': 450}  #음료 정보들의 모음
dc2 = {'새우깡': 700, '콘치즈': 850}  #과자 정보들의 모음

dc2['새우깡'] = 950  #dc2에는 과자 정보가 담겨 있으므로 ok
dc2

{'새우깡': 950, '콘치즈': 850}

이때 dc1 인 음료정보에서 새우깡 값을 수정하려 할 수도 있으니 in 연산을 통해 특정키가 있는지 확인할 수 있다

In [ ]:
dc1 = {'코카콜라': 900, '삼다수': 450} 
dc2 = {'새우깡': 700, '콘치즈': 850}  
'새우깡' in dc2             #새우깡이 dc2에 있는지?

True

In [ ]:
dc1 = {'코카콜라': 900, '삼다수': 450} 
dc2 = {'새우깡': 700, '콘치즈': 850} 
if '새우깡' in dc2:
  dc2['새우깡'] =950   #새우깡이라는 키가 dc2에 존재하면, 값을 950으로 수정해라

In [ ]:
if '카페라떼' not in dc1:
dc1['카페라떼'] = 1200    #카페라떼라는 키가 dc1에 존재하지 않으면, dc1에 카페라떼와 값을 추가

여기서 주의 할 점은 in과 not in연산을 통해서 존재 유무를 확인하는 대상은 값이 아니라 키라는 것!

In [ ]:
#12-5 딕셔너리의 for 루프
dc = {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}  #과자정보

여기에 값을 각각 70원씩 올려야 한다면 for루프를 사용할 수 있다   
이때 딕셔너리의 키를 대상으로 for루프가 돌아간다

In [ ]:
dc = {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}  
for i in dc:   #이때 i 의 저장되는 것은 키이다
  dc[i] += 70

dc

{'꼬깔콘': 820, '새우깡': 770, '콘치즈': 920}

In [ ]:
#연습문제 12-1 문제1
dc =  {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}  
dc['홈런볼'] = 900
dc

{'꼬깔콘': 750, '새우깡': 700, '콘치즈': 850, '홈런볼': 900}

In [ ]:
#연습문제 12-1 문제2
dc =  {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}  
for i in dc:
  dc[i] += 100

dc

{'꼬깔콘': 850, '새우깡': 800, '콘치즈': 950}

In [ ]:
#연습문제 12-1 문제3
dc =  {'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750}  
del dc['콘치즈']
dc['치즈콘'] = 950
dc

{'꼬깔콘': 750, '새우깡': 700, '치즈콘': 950}

함수 안에 선언되는 변수 : 지역변수 +매개변수 포함   
함수 밖에 선언되는 변수 : 전역변수

In [ ]:
#13-1 전역변수와 지역변수
def func(n):   #매개변수 n도 지역변수 범주에 포함된다(지역변수의 일종)
  lv = n + 1   #지역변수 1v의 선언, 그리고 매개변수 n에 접근
  print(lv)    #지역변수 1v에 접근

func(12)

13

In [ ]:
def func(n):
  lv = n + 1   #지역변수 1v의 선언, 그리고 매개변수 n에 접근
  print(lv)    #지역변수 1v에 접근

print(lv)

NameError: ignored

이렇게 함수 밖에서 지역변수인 lv에 접근하면 오류가 난다   
지역변수는 함수 내에서 만들어졌다가 함수를 벗어나면 사라지는 변수이기에 함수 밖에서 접근이 불가능하다.

In [ ]:
cnt = 100   #함수 밖에서 선언된 전역변수 cnt
cnt += 1
def func():
  print(cnt)   #함수 내에서 전역변수 cnt에 접근nt = 100   #함수 밖에서 선언된 전역변수 cnt
  cnt += 1
  def func():
    print(cnt)   #함수 내에서 전역변수 cnt에 접근

    func()

func()

101

함수 밖에서 선언된 전역변수는 선언된 이후 어디서든 접근이 가능하다.   
선언 이후에 만들어지는 함수 내에서도 접근이 가능

In [ ]:
cnt = 100
def func():
  cnt = 0
  print(cnt)

func()   #0

print(cnt)  #100  전역변수 cnt의 값 출력력

0
100

In [ ]:
cnt = 100
def func():
  global cnt
  cnt = 0
  print(cnt)

func()   #0

print(cnt)   #0

0
0

함수안에 지역변수가 아닌 전역변수를 사용하는 것이면 global 함수로 변수를 선언해야 한다.

13- 2 객체지향 프로그래밍
객체지향 프로그래밍이란 클래스를 만드는 것

In [ ]:
#13 -3 클래스와 객체 이전의 프로그램에 대한 반성 
#family_age1.py
fa_age = 39   

def up_fa_age():   #이함수를 호출하면 아빠 나이 올라감
  global fa_age    #fa_age 전역변수임을 선언
  fa_age += 1    #fa_age 의 값 1증가

def get_fa_age():  #이 함수를 호출하면 아빠 나이 반환함
  return fa_age

def main():
  print('2019년...')
  print('아빠:', get_fa_age())
  print('2020년...')
  up_fa_age()        #아빠 나이 1살 증가def main():
    print('2019년...')
      print('아빠:', get_fa_age())
        print('2020년...')
          up_fa_age()        #아빠 나이 1살 증가
            print('아빠:', get_fa_age())

            main()
  print('아빠:', get_fa_age())

main()

2019년...
아빠: 39
2020년...
아빠: 40

변수 fa_age와 함수 up_fa_age, get_fa_age는 아빠 나이 관리를 위한 하나의 팀이다

In [ ]:
#family_age2.py
fa_age = 39   

def up_fa_age():   #이함수를 호출하면 아빠 나이 올라감
  global fa_age   
  fa_age += 1   

def get_fa_age(): 
  return fa_age

mo_age = 35

def up_mo_age():   
  global mo_age   
  mo_age += 1   

def get_mo_age(): 
  return mo_age

def main():
  print('2019년...')
  print('아빠:', get_fa_age())
  print('엄마:', get_mo_age())
  print('2020년...')
  up_fa_age()        #아빠 나이 1살 증가def main():
  up_mo_age()
  print('아빠:', get_fa_age())
  print('엄마:', get_mo_age())


main()

2019년...
아빠: 39
엄마: 35
2020년...
아빠: 40
엄마: 36

이렇게 코드양이 느는 걸 방지하기 위하여 클래스와 객체를 이해해야 한다

객체란 주변에 존재하는 모든 사물 하나하나를 뜻한다   
이때 자동차가 객체면 이를 만들기 위해 존재하는 설계도가 있어야 하는데 이게 클래스이다.

변수 하나 fa_age   
함수 둘  up_fa_age(), get_fa_age()   
이렇게 하면 엄마의 정보를 추가할 때 세가지를 더 추가해야 하기때문에 이 내용을 모두 담는 클래스를 만들어 문제를 해결하고자 한다  
이 클래스 안에 담을 변수의 이름을 다음과 같이 수정하면    
fa_age > age   
up_fa_age() > up_age()   
get_fa_fage() > get_age()    

앞서 정의한 함수 up_fa_age 는    
def up_fa_age():    
  global fa_age      
  fa_age += 1     
이것을 클래스 설계도에 포함시키려면 다음과 같이 수정해야한다    
def up_age(self): #self는 매개변수    
  self.age += 1    

그 다음 함수는 
def get_fa_age():   
  return self.age   
이것을 클래스에 포함하기 위해 수정하면   
def get_age(self):
  return self.age   

이제 두 함수를 클래스에 담아보면   
class AfeInfo:   #클래스 ageinfo의 정의   
  def up_age(self):  #클래스 안에 담긴 up_age 변수  
    self.age += 1   
  def get_age(self): #클래스 안에 담긴 get_age 함수   
    return self.age   

이렇게 첫 번째 클래스가 완성되었다

In [ ]:
#13-4 클래스와 객체의 이해
#class_object.py   #클래스 ageinfo의 정의
class AgeInfo:
  def up_age(self):
    self.age += 1
  def get_age(self):
    return self.age

def main():
  fa = AgeInfo()   #ageinfo의 객체를 생성하고 이를 변수 fa에 저장
  fa.age = 39    #fa에 저장된 객체의 변수 age에 39 저장

  print('현재 아빠 나이..')
  print('아빠:', fa.get_age())  #get_age 호출할 때 self에 값 전달하지 않음

  print('1년 뒤...')
  fa.up_age()         #up_age 호출할 때 self에 값 전달하지 않음
  print('아빠:', fa.get_age())   #get_age 호출할 때 self에 값 전달하지 않음

main()

현재 아빠 나이..
아빠: 39
1년 뒤...
아빠: 40

클래스 안에 변수 age 가 들어가지 않았지만, 자동으로 선언래스 안에 변수 age 가 들어가지 않았지만, 자동으로 선언해준다   
fa.age = 39   이건 fa에 저장된 객체의 변수 age에 39를 저장한다는 뜻   

fa.get_age()  fa에 저장된 객체의 함수 get_age호출   
fa.up_age()   fa에 저장된 객체의 함수 up_age 호출

인스턴스 변수 = 객체 안에 존재하는 변수를 뜻하는 말 ex) fa.age    
인스턴스 메소드 = 객체 안에 존재하는 함수를 뜻하는 말 ex)fa.up_age   

인스턴스는 객체의 또다른 표현이다.   
fa = AgeInfo()  이 문장을 보며 ageinfo의  인스턴스가 생성되어서 변수 fa에 저장되었다.   

인스턴스 변수 = 인스턴스 객체 안에 존재하는 변수   
인스턴스 메소드 = 인스턴스 안에 존재하는 메소드(함수)

In [ ]:
#13-5 나이 정보 관리하는 이전 예제의 수정 결과
#family_age3.py

class AgeInfo:
  def up_age(self):
    self.age += 1
  def get_age(self):
    return self.age

def main():
  fa = AgeInfo()
  mo = AgeInfo()
  me = AgeInfo()

  fa.age = 39
  mo.age = 35
  me.age = 12

  sum = fa.get_age() + mo.get_age() + me.get_age()
  print('가족 나이 합:', sum)

  fa.up_age()
  mo.up_age()
  me.up_age()
  sum = fa.get_age() + mo.get_age() + me.get_age()
  print('1년 후의 합:', sum)

main()

가족 나이 합: 86
1년 후의 합: 89

  fa = AgeInfo()    
  mo = AgeInfo()     
  me = AgeInfo()     
이 세 문장이 실행되면 각각의 세 개의 객체가 생성되고    

  fa.age = 39   
  mo.age = 35    
  me.age = 12     
  이 문장들이 실행되며 각 개체 안에 있는 변수age의 값이 다음과 같이 초기화 된다.   
  초기화 된다는 것은 값이 처음 저장된다는 뜻이다!!

In [1]:
#13-6 self란?
#self_tset.py
class AgeInfo:
  def up_age(self):
    self.age += 1
  def get_age(self):
    return self.age

def main():
  fa = AgeInfo()
  fa.age = 20   #인스턴스 변수 age의 값 20으로 초기화

  fa.up_age()   #fa에 저장된 객체의 up_age 함수 호출
  AgeInfo.up_age(fa)  #위와 동일한 기능의 문장(보편적인 방법x 물리적인 방법)

  print(fa.get_age())     #fa에 저장된 객체의 get_age 함수 호출
  print(AgeInfo.get_age(fa))   #위와 동일한 기능의 문장(보편적인 방법x 물리적인 방법)

main()

22
22

self 의 존재이유   
 객체들이 클래스를 공유하기 위함    
 메소드 첫번째 매개변수: self   
 인스턴스 변수에 접근 시 self.변수로 표현   
 쉽게 표현해서 메서드 안에 있는 내 메서드를 호출할 때 사용됨 ex) 내 팔 들어!     
 함수 안에 있는 내 함수     
 def ~~~:    
    def ~~~:     
같이 내 아래에 있는 함수를 호출하기 위함

In [2]:
#13-7 self 이외의 매개변수를 갖는 메소드들(함수들) 정의해보기
def set_age(self, n):   #매개변수 self도 있고 n도 있다
  self.age = n

def st_age(self, age):
  self.age = age   #age는 매개변수, self.age는 인스턴스 변수

정의한 매서드를 호출할 때 self는 파이썬이 알아서 전달하니 두번째 값인 n만 전달하면 된다

In [3]:
#family_age4.py

class AgeInfo:
  def up_age(self):
    self.age += 1
  def get_age(self):
    return self.age
  def set_age(self, age):
    self.age = age    


def main():
  fa = AgeInfo()    #아빠 나이 객체 생성
  fa.age = 39       #아빠 나이 초기화, 매개변수 age에 39 전달
  print('1년 후의 아빠 나이:', fa.get_age())

main()

1년 후의 아빠 나이: 40

인스턴스 변수에 직접 접근해서 초기화했던 것을 메소드 호출을 통해 인스턴스 변수 초기화

In [ ]:
#13-8 생성자 (=초기화 메서드)
def main():
  fa =AgeInfo()
  fa.age = 39      #인스턴스 변수 age의 값을 20으로 초기화

이렇듯 객체 안에 존재하는 모든 변수는 초기화를 해야한다.   
파이썬은 객체의 생성과 변수의 초기화를 동시에 진행할 수 있도록 생성자라는 것을 제공한다

In [4]:
#ctror1.py
class Const:
  def __init__(self):   #생성자라 불리는 메서드, 메서드 이름이 __init__ 이다
    print("new~")

def main():
  o1 = Const()
  o2 = Const()

Const()를 적어 담기만 하고 실행하라고 하지 않았는데도 실행이 되었다.   
객체 안에는 적절한 변수를 선언하는 것이 좋다   
 ex) fa =AgeInfo()    
 fa.age = 39   
 이런식으로

생성자는 객체 생성 시 자동으로 호출이 되는 특징이 있다.

In [6]:
#ctror2.py
class Const:
  def __init__(self, n1, n2):
    self.n1 = n1     #self.n1은 인스턴스 변수, n1은 매개변수
    self.n2 = n2     #self.n2은 인스턴스 변수, n2은 매개변수
  def show_data(self):
    print(self.n1, self.n2)

def main():
  o1 = Const(1, 2)    #생성자에 1과 2를 전달
  o2 = Const(3, 4)    #생성자에 3과 4를 전달
  o1.show_data()
  o2.show_data()

main()

1 2
3 4

In [8]:
#family_age5.py

class AgeInfo:
  def __init__(self, age):   #AgeInfo의 생성자
    self.age = age       #매개변수 age에 전달된 값으로 인스턴스 변수 age 초기화 
  def up_age(self):
    self.age += 1
  def get_age(self):
    return self.age 


def main():
  fa = AgeInfo(39)    #아빠 나이 객체 생성
  fa.up_age()     #아빠 나이 초기화, 매개변수 age에 39 전달
  print('1년 후의 아빠 나이:', fa.get_age())

main()

1년 후의 아빠 나이: 40

In [16]:
#연습문제 13-1 1번문제
class Friend:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def get_name(self):
    return self.name

  def get_number(self):
    return self.number

  def set_number(self, number):
    self.number = number

  def show_info(self):
    print(self.name)
    print(self.number)


f = Friend('윤성우', '010-111-222')  
f.get_name()    #윤성우

f.get_number()   #010-111-222

f.set_number('010-333-444')

f.show_info()

윤성우
010-333-444

In [17]:
#연습문제 13-1 2번문제
class Friend:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def get_name(self):
    return self.name

  def get_number(self):
    return self.number

  def set_number(self, number):
    self.number = number

  def show_info(self):
    print(self.name)
    print(self.number)


frs = []
frs.append(Friend('윤지민', '010-111-222'))
frs.append(Friend('이선준', '010-333-444'))
frs.append(Friend('장지우', '010-555-666'))
frs.append(Friend('윤지율', '010-777-888'))

for i in frs:
  i.show_info()

윤지민
010-111-222
이선준
010-333-444
장지우
010-555-666
윤지율
010-777-888

In [20]:
#연습문제 13-1 3번문제
frs = []
frs.append(Friend('윤지민', '010-111-222'))
frs.append(Friend('이선준', '010-333-444'))
frs.append(Friend('장지우', '010-555-666'))
frs.append(Friend('윤지율', '010-777-888'))

for i in frs:
  if i.get_name().startswith('윤'):
    i.show_info()

윤지민
010-111-222
윤지율
010-777-888

In [21]:
#연습문제 13-1 4번문제
frs = []
frs.append(Friend('윤지민', '010-111-222'))
frs.append(Friend('이선준', '010-333-444'))
frs.append(Friend('장지우', '010-555-666'))
frs.append(Friend('윤지율', '010-777-888'))

for i in frs:
  if i.get_name()== '장지우':
    i.set_number('010-999-999')

for i in frs:
  if i.get_name()== '장지우':
    i.show_info()

장지우
010-999-999

In [22]:
#13-9 사실 파이썬의 모든 데이터는(값은) 객체
s = 'coffee'
s.upper()

'COFFEE'

이런 호출이 가능하다는 것은 s에 담긴 것이 객체라는 의미

In [23]:
n = 1000
n.bit_length()

10

변수 n에 담긴 정수도 객체라는 증거

In [24]:
f = 3.14
f.is_integer()

False

변수 f에 담긴 실수도 객체라는 증거

이렇게 정수나 실수, 문자열을 입력하면 파이썬은 이를 객체로 만든다.    
따라서 그 객체를 대상으로 인스턴스 메소드를 호출 할 수 있는 것    
정수나 실수인 객체를 대상으로 인스턴스 메소드를 호출 할 수 있지만 보편적으로 사용하는 메소드들은 아니므로 이들이 객체란 사실을 인지하는 것이 중요하다

In [ ]:
#14-1 예외가 발생하는 상황(오류상황)
lst = [1, 2, 3]
lst[3]

이것은 인덱스 에러가 난다   
indexerror : list index out of range

In [ ]:
3 + 'coffee'  #숫자와 문자열은 더할 수 없다

이것은 문자열과 숫자가 섞일 수 없는 연산 에러가 난다   
typeerror : unsupported operand type(s) for + : 'int' + 'str'

In [ ]:
3/ 0

산술적으로 0으로 나누는 것에 대한 결과가 정의되어 있지 않다. 따라서 파이썬도 0으로 나누는 연산을 하면 오류가 난다   
zerodivisonerror : division by zero

In [26]:
#14-2 예외의 처리
#age.py
def main():
  print('안녕하세요')
  age = int(input('나이를 입력하세요:'))
  print('입력하신 나이는 다음과 같습니다:', age)
  print('만나서 반가웠습니다.')

main()

이 코드에서 숫자를 입력해야 하는 부분에 문자를 입력하면 오류가 난다.   
valueerror : invalid literal for int() with base 10: 스물

In [2]:
#age_except.py
def main():
  print('안녕하세요')
  try:
    age = int(input('나이를 입력하세요:'))
    print('입력하신 나이는 다음과 같습니다:', age)
  except ValueError:
    print('입력이 잘못되었습니다.')
    
  print('만나서 반가웠습니다.')

main()

안녕하세요
나이를 입력하세요:스물
입력이 잘못되었습니다.
만나서 반가웠습니다.

try 영역안에서 예외가 발생한다면, except 영역을 실행한다는 뜻   
except영역이 실행되면, 해당 예외는 처리된 것으로 판단하고 except 영역 그 다음 문장부터 실행을 이어간다.  
예외가 발생안했다면 except영역 다음에 위치한 문장부터 실행이 이루어진다.

In [3]:
#14-3 보다 적극적인 예외의 처리
#age_expt_conti.py
def main():
  print('안녕하세요')
  while True:   #while 루프 안에 try ~ except가 있다 while True는 break가 나올 때까지 계속 실행
    try:
      age = int(input('나이를 입력하세요:'))
      print('입력하신 나이는 다음과 같습니다:', age)
      break    #입력이 정상적이면 while 루프 탈출! 예외가 있을 시 except 문을 돌고 다시 나이 입력으로 돌아옴
    except ValueError:
      print('입력이 잘못되었습니다.')
    
  print('만나서 반가웠습니다.')

main()

안녕하세요
나이를 입력하세요:스물
입력이 잘못되었습니다.
나이를 입력하세요:20
입력하신 나이는 다음과 같습니다: 20
만나서 반가웠습니다.

위 예제에서는 except 영역이 실행되면 while 루프를 반복하게 된 것이다. 때문에 정상적인 입력이 없으면 프로그램 사용자에게 입력을 계속 요구하게 된다

In [5]:
#14-4 둘 이상의 예외를 처리하기
#div.py
def main():
  bread = 10    #현재 10개의 빵이 있다
  people = int(input('몇 명?'))   #ValueError 예외가 발생할 수 있음
  print('1인당 빵의 수:', bread / people)   #ZeroDivisonError 예외가 발생할 수 있음 피플이 0일 수도 있어서 나눠지지 않기 때문에
  print('맛있게 드세요')

main()

몇 명?2
1인당 빵의 수: 5.0
맛있게 드세요

위에서 몇 몇이냐고 물었을 때 두 가지에 예외가 발생할 수 있다.

In [7]:
#div_except1.py
def main():
  bread = 10    #현재 10개의 빵이 있다
  try:
    people = int(input('몇 명?'))  
    print('1인당 빵의 수:', bread / people)  
  except ValueError:
    print('입력이 잘못되었습니다.')
  except ZeroDivisionError:
    print('0으로는 나눌 수 없습니다.')
  

main()

몇 명?0
0으로는 나눌 수 없습니다.
맛있게 드세요

이런 식으로 예외 종류에 따라서 except 영역을 얼마든지 추가할 수 있다.

In [8]:
#14-5 예외 메세지 출력하기와 finally
#div_except2.py
def main():
  bread = 10    #현재 10개의 빵이 있다
  try:
    people = int(input('몇 명?')) 
    print('1인당 빵의 수:', bread / people)  
    print('맛있게 드세요')
  except ValueError as msg:    #변수 msg에 오류 메세지가 담긴다
    print('입력이 잘못되었습니다.')
    print(msg)                #오류 메세지 출력
  except ZeroDivisionError as msg:     #변수 msg에 오류 메세지가 담긴다
    print('0으로는 나눌 수 없습니다.')
    print(msg)                
  

main()

몇 명?0
0으로는 나눌 수 없습니다.
division by zero

예외가 발생해서 except 영역이 실행될 때, 파이썬은 예외 발생 원인에 대한 메세지를 전달한다. 전달은 위와 같이 변수에 담아 출력해주면 된다.

In [9]:
#div_except3.py
def main():
  bread = 10    #현재 10개의 빵이 있다
  try:
    people = int(input('몇 명?')) 
    print('1인당 빵의 수:', bread / people)  
    print('맛있게 드세요')
  except ValueError:    
    print('입력이 잘못되었습니다.')
  finally:
    print('어쨌든 프로그램은 종료합니다.')
          
  

main()

몇 명?0
어쨌든 프로그램은 종료합니다.

ZeroDivisionError: ignored

예외 발생 유무에 상관없이 try영역으로 진입하여 무조건 실행해야 하는 내용이 있다면 except 영역에 이어 finally 영역을 구성하면 된다.   
위와 같이 ZeroDivisionError예외가 발생했을 때 이 예외를 처리할 수 있는 except영역이 존재하지 않았지만 finally 영역은 실행된다.

In [10]:
#14-6 모든 예외 그냥 무시하기
#ignore_expt.py
def main():
  bread = 10    #현재 10개의 빵이 있다
  try:
    people = int(input('몇 명?')) 
    print('1인당 빵의 수:', bread / people)  
    print('맛있게 드세요')
  except :   
    print('뭔지는 몰라도 예외가 발생했군요.')
  

main()

몇 명?글쎄요
뭔지는 몰라도 예외가 발생했군요.

이런 식으로   except : 이렇게 써 놓으면 모든 예외가 다 갈려든다.   
또한 pass 라고 써 놓으면 아무 일도 하지 않는 except 영역 말든러짐